{% extends "body.html" %}
{% load i18n %}
{% block content %}
<form action="." method="post">
          <table style="width:50%;">
	    <tr><th colspan="2">{% trans "Edit your data" %}</th></tr>
            <tr>
              <td style="width:35%;text-align:right;font-weight:bold;">{% trans "Email" %}</td>
              <td>{{ form.email }}{% if form.email.errors %}<div class="errmsg">{{ form.email.errors|join:", " }}</div>{% endif %}</td>
            </tr>
	    <tr>
              <td style="width:35%;"></td>
              <td><input type="submit" value="{% trans "Save Changes" %}"></td>
            </tr>
          </table>
</form>
{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/user/">{% trans "User Panel" %}</a>{% endblock %}
{% block on_user %} id="current"{% endblock %}