{% extends "pages/body.html" %}
{% load i18n %}
{% block content %}
{% trans "As a registered user you will have full access to comments and forum. Registration isn't however required to browse this site content." %}
<ul>
<li>{% trans "If you are a new user you can" %} <a href="/user/register/"><b>{% trans "register" %}</b></a> {% trans "using a simple form" %}.</li>
<li>{% trans "If you forgotten your password, then you can" %} <a href="/user/password_reset/"><b>{% trans "reset it" %}</b></a>.</li>
</ul>

{% if form.has_errors %}
<div class="errmsg">{% trans "Your username and password didn't match. Please try again." %}</div>
{% endif %}

<form method="post" action="/user/login/">
<div class="content">
<table>
<tr><th colspan="2" class="first"><strong>{% trans "Standard login" %}</strong></th></tr>
<tr class="rowA small"><td class="first" style="width:30%;"><label for="id_username">{% trans "Username" %}:</label></td><td>{{ form.username }}</td></tr>
<tr class="rowB small"><td class="first"><label for="id_password">{% trans "Password" %}:</label></td><td>{{ form.password }}</td></tr>
<tr class="rowA small"><td class="first" colspan="2"><input type="submit" value="{% trans "Login" %}"></td></tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
<br />
<form method="post" action="/openid/">
<div class="content">
<table>
<tr><th colspan="2" class="first"><strong>{% trans "OpenID" %}</strong></th></tr>
<tr class="rowA small"><td class="first" style="width:30%;"><label for="openid_url"><img src="/site_media/layout/openid.png" alt="openID" /></label></td><td><input class="openid" type="text" name="openid_url" id="openid_url"></td></tr>
<tr class="rowB small"><td class="first" colspan="2"><input type="submit" value="{% trans "Login" %}"></td></tr>
</table>
</div>
</form>
{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/user/">{% trans "User Panel" %}</a>{% endblock %}
{% block on_user %} id="current"{% endblock %}