{% extends "pages/body.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Change Password" %}</h2>
{% if form.has_errors %}
<p>{% trans "There was a problem with password change." %}</p>
{% endif %}

<form method="post" action=".">
<div class="content">
<table>
<tr class="rowA"><td>{% trans "Current Password" %}:</td><td>{{ form.old_password }}</td></tr>
<tr class="rowB"><td>{% trans "New Password" %}:</td><td>{{ form.new_password1 }}</td></tr>
<tr class="rowA"><td>{% trans "New Password again" %}:</td><td>{{ form.new_password2 }}</td></tr>
</table>
</div>
<br /><div class="box"><br /><div style="text-align:center;"><input type="submit" value="{% trans "Change Password" %}"></div><br /></div>
</form>

{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/user/">{% trans "User Panel" %}</a>{% endblock %}