<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr"><head>
<title>MyghtyBoard</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="index, follow">
<link rel="stylesheet" href="/site_media/myghtyboard/wow/wow_alli.css" type="text/css">
</head><body>
<table width="800" cellspacing="0" cellpadding="0" border="0" align="center" id="maintable">
<tr>
	<td valign="top" class="content-row"><table border="0" width="100%" cellspacing="0" cellpadding="0" id="logotable">
	<tr>
		<td align="center" class="logorow1"><div class="logorow2"><img src="/site_media/myghtyboard/wow/images/logo0000.gif" height="112" alt=""></div></td>
	</tr>
	</table>


	{% block content %}{% endblock %}<br>

</td></tr></table>
<div style="text-align:center; font-weight:bold;">MyghtyBoard ^_^ Diamanda Wiki</div>
<div style="text-align:center;">Theme based on phpBB theme Warcraft Alliance - <a href="http://www.stsoftware.biz" target="_blank">Design by ST Software</a></div>
</body></html>
