{% load i18n %}
{% extends "myghtyboard/wow/body.html" %}
{% block content %}


<table border="0" width="100%" cellspacing="0" cellpadding="0" id="buttonstable">
	<tr>
		<td align="center" valign="middle" width="100%" id="header-buttons">
			<a href="/forum/">{% trans "Forum Index" %}</a> >> <a href="/forum/forum/{{ forum }}/">{{ forum_name }}</a>
		</td>
	</tr>
	</table>
	<table border="0" width="100%" cellspacing="0" cellpadding="0" class="content">
	<tr>
	<td class="content" valign="top">
	<table width="100%" cellpadding="2" cellspacing="0" class="forumline">
	<thead>
		<caption><table border="0" cellspacing="0" cellpadding="0" width="100%" class="forumheader">
		<tr>
			<td align="left" valign="bottom" width="25"><img src="/site_media/myghtyboard/wow/images/hdr_left.gif" width="25" height="27" alt=""></td>
			<td align="center" class="forumheader-mid"><a href="/forum/">{% trans "Forum Index" %}</a> >> <a href="/forum/forum/{{ forum }}/">{{ forum_name }}</a></td>
			<td align="right" valign="bottom" width="25"><img src="/site_media/myghtyboard/wow/images/hdr_righ.gif" width="25" height="27" alt=""></td>
		</tr></table></caption>
	</thead>
	<tbody>
	<tr>
		<th colspan="2">{% trans "Topic Title" %}</th>
		<th width="50">{% trans "Author" %}</th>
		<th width="50">{% trans "Last Post" %}</th>
		<th>{% trans "Posts" %}</th>
	</tr>
	
{% for topic in topics %}
<tr>
	<td class="row1" align="center" valign="middle" style="padding: 5px;"><img src="/site_media/myghtyboard/wow/images/folder_b.gif" width="25" height="25" alt="" title=""></td>
	<td class="row1" width="100%"><span class="forumlink"> <a href="/forum/topic/{{ topic.pagination_max }}/{{ topic.id }}/" class="forumlink">{{ topic.topic_name }}</a><br>
	</span><span class="gensmall">&nbsp; &nbsp;</span></td>
	<td class="row2" align="center" valign="middle"><span class="gensmall">{{ topic.topic_author }}<br>
	{% if perms.is_staff %}
		<br><a href="/forum/delete_topic/{{ topic.id }}/{{ forum }}/" onclick="return confirm('{% trans "Delete this Topic and all Posts?" %}')"><img src="/site_media/myghtyboard/wow/images/{{ lang }}/icon_del.gif" border="0"></a>
	{% endif %}
	</span></td>
	<td class="row2" align="center" valign="middle"><span class="gensmall">{{ topic.topic_lastpost }}</span></td>
	<td class="row2" align="center" valign="middle" nowrap="nowrap"> <span class="gensmall">{{ topic.topic_posts }}</span></td>
</tr>
{% endfor %}
</tbody></table><br>
{% if perms.add_topic %}
	<p align="right"><a href="/forum/add_topic/{{ forum }}/"><img src="/site_media/myghtyboard/wow/images/{{ lang }}/post.gif" border="0"></a></p>
{% endif %}
<p align="right">
	{% if perms.add_topic %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost.gif"> {% trans "You can post new Topics" %}<br>
	{% else %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost_new.gif"> {% trans "You can't post new Topics" %}<br>
	{% endif %}
	{% if perms.add_post %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost.gif"> {% trans "You can post new Posts" %}<br>
	{% else %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost_new.gif"> {% trans "You can't post new Posts" %}<br>
	{% endif %}
	{% if perms.is_staff %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost.gif"> {% trans "You can moderate this Topics" %}<br>
	{% else %}
		<img src="/site_media/myghtyboard/wow/images/icon_minipost_new.gif">  {% trans "You can't moderate this Topics" %}<br>
	{% endif %}
</p>
{% endblock %}
