{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block coltype %}colMS{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">{% trans "Admin Panel" %}</a> > <a href="/stats/">{% trans "Site Statistics" %}</a></div>{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
<h2>{% trans "Search engine traffic sources" %}</h2>
{% if error %}
<ul><li><b>{% trans "No data" %}</b></li></ul>
{% else %}
<ul>
<li><b>{% trans "Google" %}</b>: {{ google }} %</li>
<li><b>{% trans "Wikipedia" %}</b>: {{ wiki }} %</li>
</ul>
{% endif %}
</div>

<div class="module">
<h2>{% trans "Google Keywords" %}</h2>
<ul>
{% for r in refs %}
<li><b>{{ r.word|escape }}</b>: {{ r.count }}</li>
{% endfor %}
</ul>
</div>
</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
 <h2>{% trans "Actions" %}</h2>
<ul>
<li><a href="/stats/entries/">{% trans "Unique Entries" %}</a></li>
<li><a href="/stats/refs/">{% trans "Last Referers" %}</a></li>
<li><a href="/stats/google/">{% trans "Google Keywords" %}</a></li>
<li><a href="/stats/delete/" onclick="return confirm('{% trans "Delete all data ?" %}')">{% trans "Delete Stat Data" %}</a></li>
</ul>
</div>
</div>
{% endblock %}
