{% load i18n %}
{% extends "body.html" %}
{% block upmenu %}
<a href="/wiki/task_list/1/">{% trans "Task List" %}</a>
<a href="/">{% trans "Main Page" %}</a>
<a href="/forum/">{% trans "Forum" %}</a>
<a href="/wiki/search/">{% trans "Search" %}</a>
<a href="/wiki/user/">{% trans "My Account" %}</a>
{% endblock %}


{% block content %}

<div class="actiontitle">{% trans "Add a Task Comment" %}</div><br />

<form method="post" action=".">
<textarea name="text" rows="10" cols="70"></textarea>
<center><input type="submit" value="{% trans "Add Comment" %}" style="actiontable" /></center>
</form>
<b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, pre, div, span, img, li, ul, ol, center, sub, sup, blockquote
{% endblock %}