{% load i18n %}
{% extends "body.html" %}
{% block upmenu %}<input type="button" value="{% trans "Page History" %}" onclick="location.assign('/wiki/history/{{ slug }}/');"> 
<input type="button" value="{% trans "Add a Page" %}" onclick="location.assign('/wiki/add/');"> <input type="button" value="{% trans "Main Page" %}" onclick="location.assign('/');">{% endblock %}
{% block downmenu %}<input type="button" value="{% trans "Page History" %}" onclick="location.assign('/wiki/history/{{ slug }}/');"> 
<input type="button" value="{% trans "Add a Page" %}" onclick="location.assign('/wiki/add/');"> <input type="button" value="{% trans "Main Page" %}" onclick="location.assign('/');">{% endblock %}
{% block content %}
	{% for line in diffresult %}
		{{ line }}
	{% endfor %}
{% endblock %}