{% load i18n %}
{% load cbc %}
{% extends "wiki/body.html" %}

{% block leftmenu %}
 <li><a href="/wiki/edit/{{ page.slug }}/">{% trans "Edit" %}</a></li><li><a href="/wiki/history/{{ page.slug }}/">{% trans "Page History" %}</a></li><li><a href="/wiki/add/">{% trans "Add a Page" %}</a></li><li><a onclick="window.print();">{% trans "Print Page" %}</a></li><li><a href="/sitemap.xml">{% trans "sitemap.xml" %}</a></li>
{% endblock %}

{% block header %}
{{ page.title }}
{% endblock %}

{% block descript %}
{% if page.description %}
{{ page.description }}
{% endif %}
{% endblock %}

{% block content %}
	{{ page.text|cbc }}
{% endblock %}

{% block title %}{{ page.title|escape }}{% endblock %}
{% block description %}{{ page.description|escape }}{% endblock %}
