{% load i18n %}
{% load cbc %}
{% extends "body.html" %}

{% block header %}
<div class="pagetitle"><h1 class="header">{% trans "Latest News" %}</h1></div>
{% endblock %}

{% block upmenu %}<input type="button" value="{% trans "Main Page" %}" onclick="location.assign('/');">{% endblock %}
{% block downmenu %}<input type="button" value="{% trans "Main Page" %}" onclick="location.assign('/');">{% endblock %}

{% block content %}
	{% for i in object_list %}
	<div class="newstitle">{{ i.news_title }}</div>
	{{ i.news_text|cbc }}<br>
	<center><b>{% trans "Added" %}</b>: {{ i.news_date }}</center>
	<br><br>
	{% endfor %}
	<center>
	{% if has_previous %}
	<a href="/wiki/news/{{ previous }}/"><b>{% trans "Previous Page" %}</b></a>
	{% endif %}
	{% if has_next %}
	<a href="/wiki/news/{{ next }}/"><b>{% trans "Next Page" %}</b></a>
	{% endif %}</center>
{% endblock %}