{% load i18n %}
{% load cbc %}
{% extends "wiki/body.html" %}
{% block leftmenu %}
 <a href="/wiki/history/{{ page.slug }}/">{% trans "Page History" %}</a> | <a href="/wiki/add/">{% trans "Add a Page" %}</a>
 {% if pdf %}
 | <a href="/wiki/pdf/{{ page.slug }}/">{% trans "Save as PDF" %}</a>
{% endif %}
 | <a onclick="window.print();">{% trans "Print Page" %}</a>
{% endblock %}

{% block content %}
{{ page.title }} - {{ page.description }}
{{ page.text|cbc }}
<hr />
<center><b>{% trans "Page Added" %}:</b> {{ page.creation_date }} | <b>{% trans "Page Last Modification" %}</b>: {{ page.creation_date }} | <b>{% trans "Changes" %}</b>: {{ page.changes }}</center>
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
