{% load i18n %}
{% load cbc %}
{% extends "body.html" %}
{% block upmenu %}
<a href="/wiki/page/{{ page.slug }}/">{% trans "Back to Page" %}</a>
<a href="/">{% trans "Main Page" %}</a>
<a href="/forum/">{% trans "Forum" %}</a>
<a href="/wiki/search/">{% trans "Search" %}</a>
<a href="/wiki/user/">{% trans "My Account" %}</a>{% endblock %}

{% block content %}
{{ page.title }} - {{ page.description }}
{{ page.text|cbc }}
<hr />
<center><b>{% trans "Page Added" %}:</b> {{ page.creation_date }} | <b>{% trans "Page Last Modification" %}</b>: {{ page.creation_date }} | <b>{% trans "Changes" %}</b>: {{ page.changes }}</center>
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
