{% load i18n %}
{% extends "body.html" %}
{% block upmenu %}
<a href="/wiki/page/{{ page.slug }}/">{% trans "Back to Page" %}</a>
<a href="/">{% trans "Main Page" %}</a>
<a href="/forum/">{% trans "Forum" %}</a>
<a href="/wiki/search/">{% trans "Search" %}</a>
<a href="/wiki/user/">{% trans "My Account" %}</a>{% endblock %}
{% block content %}

<form method="post" action="/wiki/diff/">
<table width="100%" class="historytable" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th class="title" width="40%"><div style="text-align:center;"><b>{% trans "Page Title" %}</b></div></th>
		<th class="title"><div style="text-align:center;"><b>{% trans "See Old Version" %}</b></div></th>
		<th width="130" class="title"><div style="text-align:center;"><b>{% trans "Modification Date" %}</b></div></th>
		<th width="250" class="title"><div style="text-align:center;"><b>{% trans "Changes" %}</b></div></th>
		<th width="80" class="title"><div style="text-align:center;"><b>{% trans "Compare" %}</b></div></th>
		<th width="90" class="title"><div style="text-align:center;"><b>{% trans "Actions" %}</b></div></th>
	</tr></thead>
	<thead><tr>
		<th><a href="/wiki/page/{{ page.slug }}/"><b>{{page.title}}</b></a></th>
		<th> </th>
		<th><div style="text-align:center;">{{ page.modification_date }}<br />{{ page.modification_user }}
		{% if is_staff %}
			<br /><br />{{ page.modification_ip }}<br />
			{{ page.modification_host }}
		{% endif %}
		</div></th>
		<th>{{ page.changes }}</th>
		<th><div style="text-align:center;"><input type="radio" name="new" value="0" style="margin-right:25px;" checked="checked" /></div></th>
		<th> </th>
	</tr></thead>
		{% for page in archive %}
			<tr>
				{% if page.is_proposal %}
					<td style="background: #AFFFAC;">
				{% else %}
					<td>
				{% endif %}
				{{page.title}}</td>
				<td><div style="text-align:center;"><input type="button" class="historyinput" value="{% trans "See This Version" %}" onclick="location.assign('/wiki/oldpage/{{ page.id }}/');" /></td>
				<td><div style="text-align:center;">{{ page.modification_date }}<br />{{ page.modification_user }}
				
				{% if is_staff %}
					<br /><br />{{ page.modification_ip }}<br />
					{{ page.modification_host }}
				{% endif %}
				
				</div></td>
				
				{% if page.is_proposal %}
					<td style="background: #AFFFAC;"><div style="text-align:center;"><b>{% trans "Changes Proposal" %}</b></div>
				{% else %}
					<td>
				{% endif %}
				{{ page.changes }}</td>
				<td><div style="text-align:center;"><input type="radio" name="new" value="{{ page.id }}" /><input type="radio" name="old" value="{{ page.id }}" /></div></td>
				<td><div style="text-align:center;"><input type="button" class="historyinput" value="{% trans "Restore" %}" onclick="location.assign('/wiki/restore/{{ page.id }}/');" />
				{% if page.is_proposal %}
					<br /><br /><input type="button" class="historyinput" value="{% trans "Unpropose" %}" onclick="location.assign('/wiki/unpropose/{{ page.id }}/');" />
				{% endif %}
				</div></td>
			</tr>
		{% endfor %}
</table>
<div align="right"><input type="submit" value="{% trans "Compare Selected" %}" class="actiontable" /></div>
</form>
{% endblock %}