{% load i18n %}
{% extends "wiki/body.html" %}
{% block content %}
<form method="post" action="/wiki/diff/">
<table width="100%" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "Page Title" %}</b></div></th>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "See Old Version" %}</b></div></th>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "Modification Date" %}</b></div></th>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "Changes" %}</b></div></th>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "Compare" %}</b></div></th>
		<th class="tcl"><div style="text-align:center;"><b>{% trans "Actions" %}</b></div></th>
	</tr></thead>
	<tbody><tr>
		<td><a href="/wiki/page/{{ page.slug }}/"><b>{{page.title}}</b></a></td>
		<td> </td>
		<td><div style="text-align:center;">{{ page.modification_date }}<br />{{ page.modification_user }}
		{% if is_staff %}
			<br /><br />{{ page.modification_ip }}
		{% endif %}
		</div></td>
		<td>{{ page.changes }}</td>
		<td><div style="text-align:center;"><input type="radio" name="new" value="0" style="margin-right:25px;" checked="checked" /></div></td>
		<td> </td>
	</tr>
		{% for page in archive %}
			<tr>
				{% if page.is_proposal %}
					<td style="background: #AFFFAC;">
				{% else %}
					<td class="tcl">
				{% endif %}
				{{page.title}}</td>
				<td class="tcl"><div style="text-align:center;"><input type="button" class="historyinput" value="{% trans "See This Version" %}" onclick="location.assign('/wiki/oldpage/{{ page.id }}/');" /></td>
				<td class="tcl"><div style="text-align:center;">{{ page.modification_date }}<br />{{ page.modification_user }}
				
				{% if is_staff %}
					<br /><br />{{ page.modification_ip }}<br />
					{{ page.modification_host }}
				{% endif %}
				
				</div></td>
				
				{% if page.is_proposal %}
					<td style="background: #AFFFAC;"><div style="text-align:center;"><b>{% trans "Changes Proposal" %}</b></div>
				{% else %}
					<td class="tcl">
				{% endif %}
				{{ page.changes }}</td>
				<td class="tcl"><div style="text-align:center;"><input type="radio" name="new" value="{{ page.id }}" /><input type="radio" name="old" value="{{ page.id }}" /></div></td>
				<td class="tcl"><div style="text-align:center;"><input type="button" class="historyinput" value="{% trans "Restore" %}" onclick="location.assign('/wiki/restore/{{ page.id }}/');" />
				{% if page.is_proposal %}
					<br /><br /><input type="button" class="historyinput" value="{% trans "Unpropose" %}" onclick="location.assign('/wiki/unpropose/{{ page.id }}/');" />
				{% endif %}
				</div></td>
			</tr>
		{% endfor %}
</tbody></table>
<div align="right"><input type="submit" value="{% trans "Compare Selected" %}" class="actiontable" /></div>
</form>
{% endblock %}