{% load i18n %}
{% load cbc %}
{% extends "wiki/body.html" %}
{% block leftmenu %}
<li><a href="/wiki/edit/{{ page.slug }}/">{% trans "Edit" %}</a></li><li><a href="/wiki/history/{{ page.slug }}/">{% trans "Page History" %}</a></li><li><a href="/wiki/add/">{% trans "Add a Page" %}</a></li><li><a onclick="window.print();">{% trans "Print Page" %}</a></li>
{% endblock %}

{% block header %}
{{ page.title }}
{% endblock %}

{% block descript %}
{% if page.description %}
{{ page.description }}
{% endif %}
{% endblock %}

{% block content %}
{{ page.text|cbc }}
<hr />
<div style="text-align:center;"><b>{% trans "Page Added" %}:</b> {{ page.creation_date }} | <b>{% trans "Page Last Modification" %}</b>: {{ page.creation_date }} | <b>{% trans "Changes" %}</b>: {{ page.changes|escape }}</div>
{% endblock %}

{% block title %}{{ page.title|escape }}{% endblock %}
{% block description %}{{ page.description|escape }}{% endblock %}
