{% load i18n %}
{% extends "body.html" %}
{% block title %}{{ task.task_name }}{% endblock %}
{% block header %}
{{ task.task_name }}
{% endblock %}
{% block content %}
<div class="pagetitle"><h3 class="header">{% trans "Task Description" %}</h3></div>
{{ task.task_text }}
<br />
<br />
{% ifnotequal task.task_progress "0" %}
<div class="box" style="width:{{ task.task_progress }}%;"><b>Progress</b>: {{ task.task_progress }}%</div>
{% endifnotequal %}
<div style="text-align:center;"><b>Task Type</b>: {{ task.task_type }} | <b>Task Status</b>: {{ task.task_status }} | <b>Assigned To</b>: {{ user_list }}<br />
<b>Creation Date</b>: {{ task.task_creation_date }} | <b>Last Modification Date</b>: {{ task.task_modification_date }}</div>
<br />
{% if com %}
<div class="pagetitle"><h3 class="header">{% trans "Task Comments" %}</h3></div><br />
<table width="100%" class="historytable" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th class="title" width="100"><div style="text-align:center;"><b>{% trans "Author" %}</b></div></th>
		<th class="title"><div style="text-align:center;"><b>{% trans "Text" %}</b></div></th>
		<th width="200" class="title"><div style="text-align:center;"><b>{% trans "Date" %}</b></div></th>
	</tr></thead>
{% for c in com %}
<tr>
<td><div style="text-align:center;">{{ c.com_author }}</div></td>
<td>{{ c.com_text }}</td>
<td><div style="text-align:center;">{{ c.com_date }}<br />{{ c.com_ip }}<br />{{ c.com_host }}</div></td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}

{% block upmenu %}
<a href="/wiki/task_list/1/">{% trans "Task List" %}</a>
<a href="/">{% trans "Main Page" %}</a>
<a href="/forum/">{% trans "Forum" %}</a>
<a href="/wiki/search/">{% trans "Search" %}</a>
<a href="/wiki/user/">{% trans "My Account" %}</a>{% endblock %}