{% load i18n %}
{% extends "body.html" %}
{% block content %}
{% if object_list %}
<div class="pagetitle"><h3 class="header">{% trans "Site Tasks" %}</h3></div><br />
<table width="100%" class="historytable" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th class="title"><div style="text-align:center;"><b>{% trans "Task Title" %}</b></div></th>
		<th class="title" width="150"><div style="text-align:center;"><b>{% trans "Task Status" %}</b></div></th>
		<th class="title" width="100"><div style="text-align:center;"><b>{% trans "Task Priority" %}</b></div></th>
		<th width="100" class="title"><div style="text-align:center;"><b>{% trans "Last Update" %}</b></div></th>
		<th width="100" class="title"><div style="text-align:center;"><b>{% trans "Progress" %}</b></div></th>
	</tr></thead>


{% for t in object_list %}
{% ifequal t.task_priority "Critical" %}
<tr style="background-color:#FFA9A9;">
{% endifequal %}
{% ifequal t.task_priority "High" %}
<tr style="background-color:#FFEEA0;">
{% endifequal %}
{% ifequal t.task_priority "Moderate" %}
<tr style="background-color:#C3FFB3;">
{% endifequal %}
{% ifequal t.task_priority "Minor" %}
<tr style="background-color:#BFBCFF;">
{% endifequal %}
<td><div style="text-align:center;"><a href="/wiki/task_show/{{ t.id }}/">{{ t.task_name }}</a></div></td>
<td><div style="text-align:center;">{{ t.task_status }}</div></td>
<td><div style="text-align:center;">{% trans t.task_priority %}</div></td>
<td><div style="text-align:center;">{{ t.task_modification_date }}</div></td>
<td><div style="text-align:center;">{{ t.task_progress }}%</div></td>
</tr>
{% endfor %}
</table>
{% if has_previous %}
<a href="/wiki/task_list/{{ previous }}/"><b>{% trans "Previous Page" %}</b></a>
{% endif %}
{% if has_next %}
<a href="/wiki/task_list/{{ next }}/"><b>{% trans "Next Page" %}</b></a>
{% endif %}
{% endif %}

{% if proposals %}
	<br /><br /><br />
	<div class="pagetitle"><h3 class="header">{% trans "Edit Proposals" %}</h3></div>
	<br />
	<table width="100%" class="historytable" cellspacing="0" cellpadding="0">
	<thead><tr>
		<th class="title"><div style="text-align:center;"><b>{% trans "Page Title" %}</b></div></th>
		<th class="title" width="100"><div style="text-align:center;"><b>{% trans "Modified by" %}</b></div></th>
		<th width="100" class="title"><div style="text-align:center;"><b>{% trans "Date" %}</b></div></th>
		<th width="200" class="title"><div style="text-align:center;"><b>{% trans "Changes Summary" %}</b></div></th>
	</tr></thead>
	{% for page in proposals %}
	<tr>
		<td><div style="text-align:center;"><a href="/wiki/history/{{ page.slug }}/">{{page.title}}</a></div></td>
		<td><div style="text-align:center;">{{ page.modification_user }}</div></td>
		<td><div style="text-align:center;">{{ page.modification_date }}</div></td>
		<td><div style="text-align:center;">{{ page.changes }}</div></td>
	</tr>
	{% endfor %}
	</table>
{% endif %}
{% endblock %}