{% load i18n %}
{% extends "body.html" %}

{% block header %}
{% trans "User Page" %}
{% endblock %}

{% block content %}
{% if loginform %}
	{% if error %}
		<div style="text-align:center;"><b>{% trans "Login Error - bad login and/or password" %}</b></div>
	{% endif %}
	<div style="text-align:center;"><form action="." method="post"><input type="hidden" value="{{ hash }}" name="imghash" />
	<table class="historytable" cellspacing="0" cellpadding="0" align="center">
	<thead><tr>
		<th class="title" width="40%"><div style="text-align:center;"><b>{% trans "LOGIN FORM" %}</b></div></th>
		<th class="title"> </th>
	</tr></thead>
	<tr>
		<td class="title"><b>{% trans "Login" %}</b></td>
		<td><div style="text-align:center;">{{ form.login }}
    {% if form.login.errors %}<br />*** {{ form.login.errors|join:", " }}{% endif %}</div></td>
	</tr>
	<tr>
		<td class="title"><b>{% trans "Password" %}</b></td>
		<td><div style="text-align:center;">{{ form.password }}
    {% if form.password.errors %}<br />*** {{ form.password.errors|join:", " }}{% endif %}</div></td>
	</tr>
	<tr>
		<td class="title"><b>{% trans "Text from the image" %}</b><br />{% trans "(Use CAPITAL letters)" %}</td>
		<td><div style="text-align:center;">{{ form.imgtext }}
    {% if form.imgtext.errors %}<br />*** {{ form.imgtext.errors|join:", " }}{% endif %}<br /><img src="/site_media/bg2.jpg" alt="" /></div></td>
	</tr>
	</table>
	<br /><input type="submit" value="{% trans "Login" %}" class="actiontable" />
	</form></div>
	<div style="text-align:center;"><input type="button" value="{% trans "Register" %}" onclick="location.assign('/wiki/register/');" /></div>
{% else %}
	<b>{% trans "Welcome" %} {{ user }}</b><br />
	<br />
	{% if current %}
	{% trans "- You can set pages as current" %}<br />
	{% else %}
	{% trans "- You can't set pages as current" %}<br />
	{% endif %}
	{% if add %}
	{% trans "- You can add pages" %}<br />
	{% else %}
	{% trans "- You can't add pages" %}<br />
	{% endif %}
	{% if edit %}
	{% trans "- You can edit pages" %}<br />
	{% else %}
	{% trans "- You can't edit pages" %}<br />
	{% endif %}
	
	<div style="text-align:center;"><input type="button" value="{% trans "Log Out" %}" onclick="location.assign('/wiki/user/?log=out');" /></div>
{% endif %}
{% endblock %}






