{% load i18n %}
{% extends "body.html" %}

{% block upmenu %}
<a href="/">{% trans "Main Page" %}</a>
{% if loginform %}
<a href="/wiki/register/">{% trans "Register" %}</a>
{% endif %}
{% endblock %}

{% block header %}
{% trans "User Page" %}
{% endblock %}

{% block content %}
{% if loginform %}
	{% if error %}
		<div style="text-align:center;"><b>{% trans "Login Error - bad login and/or password" %}</b></div>
	{% endif %}
	<div style="text-align:center;"><form action="." method="post"><input type="hidden" value="{{ hash }}" name="imghash" />
	<table class="historytable" cellspacing="0" cellpadding="0" align="center">
	<thead><tr>
		<th class="title" width="40%"><div style="text-align:center;"><b>{% trans "LOGIN FORM" %}</b></div></th>
		<th class="title"> </th>
	</tr></thead>
	<tr>
		<td class="title"><b>{% trans "Login" %}</b></td>
		<td><div style="text-align:center;"><input type="text" size="20" name="login" /></div></td>
	</tr>
	<tr>
		<td class="title"><b>{% trans "Password" %}</b></td>
		<td><div style="text-align:center;"><input type="password" size="20" name="password" /></div></td>
	</tr>
	<tr>
		<td class="title"><b>{% trans "Text from the image" %}</b><br />{% trans "(Use CAPITAL letters)" %}</td>
		<td><div style="text-align:center;"><input type="text" size="20" name="imgtext" /><br /><img src="/site_media/bg2.jpg" alt="" /></div></td>
	</tr>
	</table>
	<br /><input type="submit" value="{% trans "Login" %}" class="actiontable" />
	</form></div>
{% else %}
	<b>{% trans "Welcome" %} {{ user }}</b><br />
	<br />
	<div style="text-align:center;"><input type="button" value="{% trans "Log Out" %}" onclick="location.assign('/wiki/user/?log=out');" /></div>
{% endif %}
{% endblock %}






