{% load i18n %}
{% load cbc %}
{% extends "wiki/punbb/body.html" %}

{% block leftmenu %}
 <a href="/wiki/edit/{{ page.slug }}/">{% trans "Edit" %}</a> | <a href="/wiki/history/{{ page.slug }}/">{% trans "Page History" %}</a> | <a href="/wiki/add/">{% trans "Add a Page" %}</a>
 {% if pdf %}
 | <a href="/wiki/pdf/{{ page.slug }}/">{% trans "Save as PDF" %}</a>
{% endif %}
 | <a onclick="window.print();">{% trans "Print Page" %}</a> | <a href="/wiki/sitemap.xml">{% trans "sitemap.xml" %}</a>
{% endblock %}

{% block header %}
{{ page.title }}
{% if page.description %}
 - {{ page.description }}
{% endif %}
{% endblock %}

{% block content %}
	{{ page.text|cbc }}
{% endblock %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
