{% load i18n %}
{% extends "wiki/punbb/body.html" %}

{% block content %}

<div style="text-align:center;"><form method="post" action="."><input type="text" value="{{ string }}" name="string" size="20" /> <input type="submit" value="{% trans "Plain Search" %}" name="like" />
{% if google %}
 <input type="submit" value="{% trans "Search This Site with Google" %}" name="google" />
{% endif %}
{% if lupy %}
 <input type="submit" value="{% trans "boolean OR search" %}" name="lupy" />
{% endif %}
</form>
</div>

{% if pages %}
	{% if googleuse %}
		{% for page in pages %}
		<img src="/site_media/wiki/img/2.png" alt="" /> <a href="{{ page.URL }}">{{ page.title|escape }}</a><br />
		{% endfor %}
	{% endif %}
	{% if likeuse %}
		{% for page in pages %}
		<img src="/site_media/wiki/img/2.png" alt="" /> <a href="/wiki/page/{{ page.slug }}/">{{ page.title|escape }}</a> - {{ page.description|escape }}<br />
		{% endfor %}
	{% endif %}
	{% if lupyuse %}
		{% for page in pages %}
		<img src="/site_media/wiki/img/2.png" alt="" /> <a href="/wiki/page/{{ page.slug }}/">{{ page.title|escape }}</a> - {{ page.description|escape }}<br />
		{% endfor %}
	{% endif %}
{% else %}
<div style="text-align:center;">{% trans "Enter a word or a phrase to search" %}</div>
{% endif %}
{% endblock %}