{% load i18n %}
{% extends "wiki/punbb/body.html" %}
{% block content %}
{% trans "This Page lists all tasks and edit proposals. You can post comments and help solving issues." %}<br /></div><br />

{% if object_list %}
<div class="blocktable">
	<h2><span>{% trans "Site Tasks" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<thead>
				<tr>
					<th class="tcl" scope="col">{% trans "Task Title" %}</th>
					<th class="tc2" scope="col">{% trans "Task Status" %}</th>
					<th class="tc3" scope="col">{% trans "Task Priority" %}</th>
					<th class="tc3" scope="col">{% trans "Last Update" %}</th>
					<th class="tc3" scope="col">{% trans "Progress" %}</th>
				</tr>
			</thead>
			<tbody>

{% for t in object_list %}
			<tr>
				<td class="tcl">
					<div class="intd">
						<div class="tclcon">
							<h3><a href="/wiki/task_show/{{ t.id }}/">{{ t.task_name }}</a></h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ t.task_status }}</td>
				{% ifequal t.task_priority "Critical" %}
				<td class="tc2" style="background-color:#FFA9A9;">
				{% endifequal %}
				{% ifequal t.task_priority "High" %}
				<td class="tc2" style="background-color:#FFEEA0;">
				{% endifequal %}
				{% ifequal t.task_priority "Moderate" %}
				<td class="tc2" style="background-color:#C3FFB3;">
				{% endifequal %}
				{% ifequal t.task_priority "Minor" %}
				<td class="tc2" style="background-color:#BFBCFF;">
				{% endifequal %}
				{% trans t.task_priority %}	</td>
				<td class="tc3">{{ t.task_modification_date|truncatewords:"1" }}</td>
				<td class="tc3">{{ t.task_progress }}%</td>
			</tr>

{% endfor %}
</tbody>
				</table>
			</div>
		</div>
	</div><br />
<div class="box"><br />
{% if has_previous %}
<a href="/wiki/task_list/{{ previous }}/"><b>{% trans "Previous Page" %}</b></a>
{% endif %}
{% if has_next %}
<a href="/wiki/task_list/{{ next }}/"><b>{% trans "Next Page" %}</b></a>
{% endif %}
{% endif %}

{% if add_task %}
<div style="text-align:center; font-weight:bold;"><a href="/admin/wiki/task/add/">{% trans "Add new Task" %}</a></div>
{% endif %}
</div><br />

{% if proposals %}
	<br /><br />

<div class="blocktable">
	<h2><span>{% trans "Edit Proposals" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<thead>
				<tr>
					<th class="tcl" scope="col">{% trans "Page Title" %}</th>
					<th class="tc2" scope="col">{% trans "Modified by" %}</th>
					<th class="tc3" scope="col">{% trans "Date" %}</th>
					<th class="tc3" scope="col">{% trans "Changes Summary" %}</th>
				</tr>
			</thead>
			<tbody>

	
	{% for page in proposals %}
			<tr>
				<td class="tcl">
					<div class="intd">
						<div class="tclcon">
							<h3><a href="/wiki/history/{{ page.slug }}/">{{page.title}}</a></h3>
						</div>
					</div>
				</td>
				<td class="tc3"><a href="/user/show_profile/{{ page.modification_user }}/">{{ page.modification_user }}</a></td>
				<td class="tc2">{{ page.modification_date }}</td>
				<td class="tc3">{{ page.changes }}</td>
			</tr>
	{% endfor %}
	</tbody>
				</table>
			</div>
		</div>
	</div><div class="box">
{% else %}
<div class="box">{% trans "No proposals" %}
{% endif %}<div>
{% endblock %}