{% load i18n %}
{% extends "wiki/body.html" %}
{% block content %}
<h2>{% trans "Google Keywords" %}</h2><br />
<b>{% trans "Share of Google entries" %}</b>: {{ google }} %<br /><br />

{% for r in refs %}
<b>{{ r.word }}</b>: {{ r.count }}<br />
{% endfor %}
{% endblock %}


{% block leftmenu %}
<ul><li><a href="/stats/entries/">{% trans "Unique Entries" %}</a></li><li><a href="/stats/refs/">{% trans "Last Referers" %}</a></li><li><a href="/stats/google/">{% trans "Google Keywords" %}</a></li><li><a href="/stats/delete/" onclick="return confirm('{% trans "Delete all data ?" %}')">{% trans "Delete Stat Data" %}</a></li></ul>{% endblock %}