{% load i18n %}
{% extends "pages/body.html" %}
{% block content %}
<h2>{% trans "Site Statistics" %}</h2><br />
- <a href="/stats/entries/">{% trans "Unique Entries" %}</a><br />
- <a href="/stats/refs/">{% trans "Last Referers" %}</a><br />
- <a href="/stats/google/">{% trans "Google Keywords" %}</a><br />
- <a href="/stats/delete/" onclick="return confirm('{% trans "Delete all data ?" %}')">{% trans "Delete Stat Data" %}</a>
{% endblock %}


{% block leftmenu %}
<ul><li><a href="/stats/entries/">{% trans "Unique Entries" %}</a></li><li><a href="/stats/refs/">{% trans "Last Referers" %}</a></li><li><a href="/stats/google/">{% trans "Google Keywords" %}</a></li><li><a href="/stats/delete/" onclick="return confirm('{% trans "Delete all data ?" %}')">{% trans "Delete Stat Data" %}</a></li></ul>{% endblock %}