body
{
margin:0px;
padding:0px;
background-color:#092E20;
font-size:13px;
font-family:dejavu, verdana, tahoma, arial;
}

a
{
text-decoration:none;
}
/*  */
#modernbricksmenu2{
padding: 0;
width: 100%;
border-top: 5px solid black; /*Brown color theme*/ 
background: transparent;
overflow:auto;
}

#modernbricksmenu2 ul{
margin:0;
margin-left: 5px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

#modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

#modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: #000000; /*Brown color theme*/ 
border-top: 1px solid white;
}

#modernbricksmenu2 a:hover{
background-color: #001B00; /*Brown color theme*/ 
color: white;
}

#modernbricksmenu2 #current a{ /*currently selected tab*/
background-color: #0C2432; /*Brown color theme*/ 
color: white;
border-color: #0C2432; /*Brown color theme*/ 
}

#myform{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
margin-top: 3px;
padding: 0;
margin-right:5px;
}

#myform .textinput{
width: 190px;
border: 1px solid gray;
background-color:#90CE97;
color:white;
font-size:11px;
font-family:dejavu, verdana, tahoma, arial;
}

#myform .submit{
color:white;
height: 22px;
border: 1px solid black;
background-color: #90CE97;
font-size:11px;
font-family:dejavu, verdana, tahoma, arial;
}

/*  */

ul, ol
{
	margin-top:3px;
	margin-bottom:15px;
	line-height: 1.8em;
}
ol li { margin-left: 2.5em; }
ul { padding-left: 2em; list-style-type: square; }
#center
{
border:2px solid #65A96D; background-color:#F6F6F6;margin:5px; margin-top:0px; float:left; width:75%; padding:15px;
text-align:justify;
}
#center a
{
color:#1D4520;
}
.important
{
float:right; overflow:auto; margin-left:10px;
}
#right
{
margin:5px;color:white;overflow:auto;
margin-top:0px;
}
#right a
{
color:#80FF80;
/* font-weight:bold; */
}
#right h4
{
border-bottom:1px solid #90CE97;
font-size:14px;
font-weight:bold;
margin:0px;
}
#toc
{
border-bottom:1px solid #90CE97;
font-size:20px!important;
font-weight:bold;
margin:0px;
padding-left:40px;
padding-top:13px;
background-image:url(bookmark.png);
background-repeat:no-repeat;
background-position:0% 0%;
}
#top
{
padding:0px;
margin:0px;
background-image:url(bg2.png);
background-repeat:repeat-x;
height:59px;
}
#top a
{
color:white;
}
#top h1
{
margin:5px; margin-bottom:10px; padding:0px;color:white;
padding-top:14px;
font-size:18px;
font-weight:bold;
font-style: italic;
margin-top:0px;
}
#topmenu
{
float:right;
margin:10px;
margin-top:0px;
}
#topmenu li
{
display:inline;
padding-left:10px;
}
#topmenu a
{
color:#80FF80;
}
#spinacz
{
margin-bottom:10px; overflow:auto;
}

#center h1
{
border-bottom:3px solid #90CE97;
font-size:20px;
font-weight:bold;
margin-bottom:5px;
}
#center h2
{
border-bottom:3px solid #90CE97;
font-size:18px;
font-weight:bold;
margin-bottom:5px;
}
#center h3
{
border-bottom:3px solid #90CE97;
font-size:16px;
font-weight:bold;
margin-bottom:5px;
}
#center h4
{
border-bottom:1px solid #90CE97;
font-size:14px;
font-weight:bold;
margin-bottom:5px;
}
p
{
margin-top:0px;
}
blockquote
{
	clear: both;
	padding: 1em;
	margin: 0px;
	font-size: 0.9em;
	line-height: 1.7em;
	background-color: #eeeeee;
	border: 1px solid #a9a9a9;
}



th strong
{
color: #fff;
}
table
{
border-collapse: collapse;
text-align:center;
width:100%;
}
th
{
background: #292929;
height: 29px;
padding-left: 11px;
padding-right: 11px;
color: #fff;
text-align:center;
border-left: solid 1px #A8814D;
border-bottom: solid 2px #ffffff;
}
tr
{
height: 30px;
}
td
{
padding-left: 11px;
padding-right: 11px;
padding-bottom:5px;
padding-top:5px;
border-left: solid 1px #EED9C3;
border-bottom:1px solid #6C6C6C;
border-top:1px solid #6C6C6C;
}
img
{
border:0px;
}
td.first,th.first
{
border-left: 0px;
}
tr.rowA
{
background: #E3E3E3;
}
tr.rowB
{
background: #D6D6D6;
}

.footer
{
text-align:center;
color:white;
}
.footer a
{
color:white;
font-weight:bold;
}
.footer li
{
display:inline;
margin-right:10px;
}


#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}
#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}
#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}
#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}

.box
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin-bottom:5px;
margin-top:5px;
overflow:auto;
}


.newsbox li
{
display:inline;
padding-right:10px;
font-weight:bold;
}

#added
{
background-image:url(clock.gif);
background-repeat:no-repeat;
padding-left:20px;
}

#read
{
background-image:url(page.gif);
background-repeat:no-repeat;
padding-left:20px;
}

#comment
{
background-image:url(comment.gif);
background-repeat:no-repeat;
padding-left:20px;
}

#book
{
background-image:url(folder.gif);
background-repeat:no-repeat;
padding-left:20px;
}

#update
{
background-image:url(update.png);
background-repeat:no-repeat;
padding-left:20px;
}


.bookdiv
{
padding:10px;
background-repeat:no-repeat;
padding-left:145px;
height:105px;
}

.bookcontent
{
margin-bottom:30px;
}

.highlight_html .err
{
border:0px !important;
}
.highlight_xml .err
{
border:0px !important;
}
.highlight_php .err
{
border:0px !important;
}
.highlight_css .err
{
border:0px !important;
}


#dhtmlgoodies_tooltip{
		background-color:#EEE;
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:0.9em;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
		font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
		
	}
	#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#555;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	/* Rounded edges in Firefox */
	}