body
{
margin:0px;
padding:0px;
font-size:0.85em;
font-family:Verdana, Tahoma, Arial, "DejaVu Sans";
line-height: 1.6em;
}
img
{
border:0px;
}
/* Top header styles  */
#head
{
	background-image:url(headerbg.png);
	background-repeat:repeat-x;
	height:47px;
	font-size:0.85em;
	color:white;
}
#head a
{
	color:white;
}
#head a:hover
{
	color:yellow;
}
#head h1
{
margin:5px; margin-bottom:10px; padding:0px;color:white;
padding-top:13px;
margin-left:15px;
font-size:18px;
font-weight:bold;
font-style: italic;
margin-top:0px;
float:left;
}
#head ul
{
float:right;
font-size:0.85em;
font-weight:bold;
}
#head li
{
display:inline;
margin-right:15px;
}

#container
{
padding:20px;
padding-left:25px;
margin-bottom:15px;
text-align:justify;
}

/*  */

#container ul, ol
{
	margin-top:3px;
	margin-bottom:15px;
	line-height: 1.7em;
}
#container ol li { margin-left: 2.5em; }
#container ul { padding-left: 2em; list-style-type: square; }

#container a
{
color:#003366;
}
#container a:hover
{
color:#005FBE;
}

/*  */

#contentWrapper
{
margin-top:10px;
background-color:#EEEEEE;
float:left;
width:80%;
}
#contentWrapperMainPage
{
margin-top:10px;
background-color:#EEEEEE;
float:left;
width:40%;
}
.content
{
border:1px solid #3c78b5;
background-color:white;
position:relative;
left:-10px;
top:-10px;
width: 96%;
padding: 5px 2%;
float: left;
font-size:0.95em;
}
.content h1
{
border-bottom:3px solid #4993DC;
font-size:20px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
padding-bottom:2px;
}
.content h2
{
border-bottom:3px solid #4993DC;
font-size:18px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
padding-bottom:2px;
}
.content h3
{
border-bottom:3px solid #4993DC;
font-size:16px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
padding-bottom:2px;
}
.content h4
{
border-bottom:1px solid #4993DC;
font-size:14px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
padding-bottom:2px;
}
h4 a, h3 a, h2 a, h1 a
{
text-decoration:none;
}

#crumb
{
font-weight:bold;
font-size:0.9em;
margin:10px;
margin-bottom:20px;
padding:5px;
padding-left:35px;
background-image:url(forum/normal.png);
background-repeat:no-repeat;
background-position:1% 50%;
border-bottom:1px solid #4993DC;
}

#panelWrapper
{
margin-top:10px;
float:right;
width:19%;
}
#panelWrapperMainPage
{
margin-top:10px;
background-color:#EEEEEE;
float:right;
width:58%;
}

.panelindex
{
border:1px solid #3c78b5;
background-color:white;
position:relative;
left:-10px;
top:-10px;
padding:5px;
font-size:0.95em;
}

.panel
{
border:1px solid #3c78b5;
background-color:white;
padding:5px;
font-size:0.95em;
}

.panel a
{
font-weight:bold;
}
.panel #docactive
{
font-weight:bold;
background: #306bc1 url(button-bg.jpg) repeat-x 0 0;
}
.panel #docactive a
{
color:white;
padding-left:2px;
}

input
{
border:1px solid #3c78b5;
padding:3px;
font-size:0.85em !important;
background-color:#EEEEEE;
}
.panel input
{
	width:65%;
}
.panel .button
{
width:25%;
}

/*  */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.invertedshiftdown2{
padding: 0;
border-top: 5px solid #568EB6; /*Highlight red color theme*/
}

.invertedshiftdown2 ul{
margin:0;
margin-left: 15px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.invertedshiftdown2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown2 a{
float: left;
display: block;
font-weight: bold;
color: white;
font-size:0.85em;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 5px 10px; /*Padding within each menu item*/
background-color: #9EC630; /*Default menu color*/
border-bottom: 8px solid white;
}

.invertedshiftdown2 a:hover{
background-color: #568EB6; /*Highlight red color theme*/
padding-top: 5px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #568EB6; /*Highlight red color theme*/
color: white;
}

.invertedshiftdown2 .current a{ /** currently selected menu item **/
background-color: #568EB6; /*Highlight red color theme*/
padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #568EB6; /*Highlight red color theme*/
color: white;
}

/*  */

table {
	border-collapse: collapse;
	margin: 10px 15px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
th strong {
	color: #fff;
}
th {
	background: #306bc1 url(button-bg.jpg) repeat-x 0 0; 
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border: 1px solid #306bc1;
	border-bottom-width: 2px;
}
tr {
	height: 32px;
	background: #fff;	
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #E5F0FB; 
}

/*  */
blockquote
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin:5px;
margin-left:15px;
}


/*  */


/*
Styles for the what's new Feed
 */
.panelindex h3
{
border-bottom:3px solid #D6D6D6;
font-size:16px;
font-weight:bold;
margin:0px;
overflow:hidden;
padding:2px;
}
dl
{
margin-bottom:2px;
color:#3E3E3E;
background-color:#F5F7F1;
border:1px solid #D6D6D6;
font-size:0.8em;
}
dt
{
width:15%;
padding:3px;
float:left;
}
dd
{
padding:3px;
margin:0px;
overflow:hidden;
background-color:white;
}

#feed ul
{
margin:0px;
padding:0px;
}
#endfeed
{
text-align:center;
font-weight:bold;
margin-top:10px;
}
#endfeed a
{
font-size:1.1em;
padding-right:10px;
}

#feed a
{
font-size:1.1em;
}
#feed li
{
list-style:none;
padding-bottom:5px;
padding-top:5px;
border-bottom:1px solid #F5F7F1;
}
#feed li:last-child
{
border-bottom:0px;
}
#feed dl:first-child
{
margin-top:0px;
}
.post2
{
text-align:right;
}
.forum
{
display:block;
padding-left:27px;
background-image:url(reply.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.news
{
display:block;
padding-left:27px;
background-image:url(news.png);
background-repeat:no-repeat;
background-position:1% 50%;
font-weight:bold;
}
.art
{
display:block;
padding-left:27px;
background-image:url(cbc/page.png);
background-repeat:no-repeat;
background-position:1% 50%;
font-weight:bold;
}
/*  */


.nfo
{
padding-left:55px;
background-image:url(b.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.nfo a
{
font-weight:bold;
}

.subnfo
{
margin-bottom:15px;
}
.subnfo li
{
display:inline;
}

.subnfo a
{
font-weight:normal !important;
font-size:0.85em !important;
}

/*  */
.content_box_header
{
	font-size:11px;
	font-weight:bold;
	background-color:#C8D7E3;
	border:1px solid #3C78B5;
	border-bottom:0px;
	padding:4px;
	margin:0px;
	text-align:center;
	margin-top:6px;
}
.content_box
{
	border:1px solid #3C78B5;
	background:#F5F7F1;
	padding:4px;
	font-size:0.85em;
}
.content_float
{
	float:right;
	width:25%;
	margin:10px;
	margin-right:0px;
}
/* CSS templates, cbc  */
.book
{
list-style-image: url(cbc/book.png);
}
.page
{
list-style-image: url(cbc/page.png);
}
.pagerss
{
list-style-image: url(rss.png);
}
.ext
{
background-image:url(world.png);
background-repeat:no-repeat;
background-position:1% 50%;
padding-left:22px;
margin-left:3px;
}
.rss
{
background-image:url(rss.png);
background-repeat:no-repeat;
background-position:1% 50%;
padding-left:22px;
margin-left:3px;
}

input.openid {
  background: url(login-bg.gif) no-repeat;
  background-position: 0 50%;
  padding-left: 20px;
}
.msg
{
text-align:center;
font-weight:bold;
border:1px solid gray;
background:#F2F2F2;
padding:5px;
margin-bottom:5px;
margin-top:5px;
}
.errmsg
{
text-align:center;
font-weight:bold;
border:1px solid red;
background:#F2F2F2;
padding:2px;
margin:10px;
}
.newsbox
{
border-bottom:1px dotted gray;
border-top:1px dotted gray;
padding:3px;
margin-bottom:35px;
margin-top:15px;
overflow:hidden;
background-color:#F2F2F2;
font-size:11px;
}
.newsbox li
{
display:inline;
padding-right:15px;
}
.box
{
border:1px solid gray;
background-color:#EEEEEE;
padding:5px;
margin-bottom:5px;
margin-top:5px;
overflow:hidden;
}
.box pre
{
max-width:100%;
overflow:auto;
}

/* pygments, disable highlighing errors */
.highlight_html .err
{
border:0px !important;
}
.highlight_py .err
{
border:0px !important;
}
.highlight_xml .err
{
border:0px !important;
}
.highlight_php .err
{
border:0px !important;
}
.highlight_css .err
{
border:0px !important;
}

#thumbBox{ /*Outermost DIV for thumbnail viewer*/
position: absolute;
left: 0;
top: 0;
width: auto;
padding: 10px;
padding-bottom: 0;
background: #313131;
visibility: hidden;
z-index: 10;
cursor: hand;
cursor: pointer;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
font: bold 16px Tahoma;
letter-spacing: 5px;
line-height: 1.1em;
color: white;
padding: 5px 0;
text-align: right;
}


#thumbBox #thumbImage{ /*DIV within thumbbox that holds the enlarged image */
background-color: white;
}

#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
position: absolute;
visibility: hidden;
border: 1px solid black;
background-color: #EFEFEF;
padding: 5px;
z-index: 5;
}
.thumb
{
text-align:center;
}
.thumb img
{
margin:10px;
}