body
{
margin:0px;
padding:0px;
font-size:0.9em;
font-family:Verdana, Tahoma, Arial, "DejaVu Sans";
line-height: 1.4em;
}

/* Top header styles  */
#head
{
	background-image:url(headerbg.png);
	background-repeat:repeat-x;
	height:47px;
	font-size:0.85em;
	color:white;
}
#head a
{
	color:white;
}
#head a:hover
{
	color:yellow;
}
#head h1
{
margin:5px; margin-bottom:10px; padding:0px;color:white;
padding-top:13px;
margin-left:15px;
font-size:18px;
font-weight:bold;
font-style: italic;
margin-top:0px;
float:left;
}
#head ul
{
float:right;
font-size:0.85em;
font-weight:bold;
}
#head li
{
display:inline;
margin-right:15px;
}

#container
{
padding:20px;
padding-left:25px;
margin-bottom:15px;
text-align:justify;
}

/*  */

#container ul, ol
{
	margin-top:3px;
	margin-bottom:15px;
	line-height: 1.7em;
}
#container ol li { margin-left: 2.5em; }
#container ul { padding-left: 2em; list-style-type: square; }

#container a
{
color:#003366;
}
#container a:hover
{
color:#005FBE;
}

/*  */

#contentWrapper
{
margin-top:10px;
background-color:#EEEEEE;
float:left;
width:80%;
}
#contentWrapperMainPage
{
margin-top:10px;
background-color:#EEEEEE;
float:left;
width:40%;
}
.content
{
border:1px solid #3c78b5;
background-color:white;
position:relative;
left:-10px;
top:-10px;
width: 96%;
padding: 5px 2%;
float: left;
}
.content h1
{
border-bottom:3px solid #4993DC;
font-size:20px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
.content h2
{
border-bottom:3px solid #4993DC;
font-size:18px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
.content h3
{
border-bottom:3px solid #4993DC;
font-size:16px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
.content h4
{
border-bottom:1px solid #4993DC;
font-size:14px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}


#crumb
{
font-size:0.8em !important;
font-weight:bold;
margin-left:20px;
}

#panelWrapper
{
margin-top:10px;
background-color:#EEEEEE;
float:right;
width:18%;
}
#panelWrapperMainPage
{
margin-top:10px;
background-color:#EEEEEE;
float:right;
width:58%;
}

.panel
{
border:1px solid #3c78b5;
background-color:white;
position:relative;
left:-10px;
top:-10px;
padding:5px;
font-size:0.85em;
margin-bottom:10px;
}

.panel #docactive
{
font-weight:bold;
background: #306bc1 url(button-bg.jpg) repeat-x 0 0;
}
.panel #docactive a
{
color:white;
padding-left:2px;
}

input
{
border:1px solid #3c78b5;
padding:3px;
font-size:0.85em !important;
background-color:#EEEEEE;
}
.panel input
{
	width:65%;
}
.panel .button
{
width:25%;
}

/*  */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.invertedshiftdown2{
padding: 0;
border-top: 5px solid #568EB6; /*Highlight red color theme*/
}

.invertedshiftdown2 ul{
margin:0;
margin-left: 15px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.invertedshiftdown2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown2 a{
float: left;
display: block;
font-weight: bold;
color: white;
font-size:0.85em;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 5px 10px; /*Padding within each menu item*/
background-color: #9EC630; /*Default menu color*/
border-bottom: 8px solid white;
}

.invertedshiftdown2 a:hover{
background-color: #568EB6; /*Highlight red color theme*/
padding-top: 5px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #568EB6; /*Highlight red color theme*/
color: white;
}

.invertedshiftdown2 .current a{ /** currently selected menu item **/
background-color: #568EB6; /*Highlight red color theme*/
padding-top: 10px; /*Set padding-top value to default's padding-top + padding-bottom */
padding-bottom: 0; /*Set padding-bottom value to 0 */
border-bottom-color: #568EB6; /*Highlight red color theme*/
color: white;
}

/*  */

table {
	border-collapse: collapse;
	margin: 10px 15px;
	width:95%;
	margin-left:auto;
	margin-right:auto;
}
th strong {
	color: #fff;
}
th {
	background: #306bc1 url(button-bg.jpg) repeat-x 0 0; 
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border: 1px solid #306bc1;
	border-bottom-width: 2px;
}
tr {
	height: 32px;
	background: #fff;	
}
td {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #E5F0FB; 
}
/* forum table  */
.content tr.small
{
	font-size:11px;
	background: #E3E3E3;
}
.content tr.small_solved
{
	font-size:11px;
	background-color: #D6D6D6;
	color:#494949;
}
.content tr.small_prefixes
{
	font-size:11px;
	background-color: #184A67;
	color:white;
}
.content tr.small_prefixes input
{
	width:auto;
	background-color: #143D55;
	color:white;
	border: 1px solid #0B2330;
}
.content tr.small_prefixes form
{
	display:inline;
	padding-right:6px;
}
.content tr.small_prefixes a
{
	color:white !important;
}

.content tr.small_solved a
{
	color:#494949 !important;
}

/*  */
blockquote
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin:5px;
margin-left:15px;
}


/*  */


/*
Styles for the what's new Feed
 */
.panel h3
{
border-bottom:3px solid #568EB6;
font-size:16px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
margin-bottom:5px;
padding:2px;
}
dl
{
margin-bottom:2px;
color:gray;
background-color:#F5F7F1;
border:1px solid #F5F7F1;
font-size:0.8em;
}
dt
{
width:15%;
padding:3px;
float:left;
}
dd
{
padding:3px;
margin:0px;
overflow:hidden;
background-color:white;
}
#feed ul
{
margin:0px;
padding:0px;
}
#feed li
{
list-style:none;
padding-bottom:5px;
padding-top:5px;
border-bottom:1px solid #F5F7F1;
}
#feed li:last-child
{
border-bottom:0px;
}
.forum
{
display:block;
font-size:1.3em !important;
padding-left:27px;
background-image:url(reply.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.news
{
display:block;
font-size:1.3em !important;
padding-left:27px;
background-image:url(news.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.art
{
display:block;
font-size:1.3em !important;
padding-left:27px;
background-image:url(cbc/page.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
/*  */


.nfo
{
padding-left:55px;
background-image:url(b.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.nfo a
{
font-weight:bold;
}

.subnfo
{
margin-bottom:15px;
}
.subnfo li
{
display:inline;
}

.subnfo a
{
font-weight:normal !important;
font-size:0.85em !important;
}

/*  */
.content_box_header
{
	font-size:11px;
	font-weight:bold;
	background-color:#C8D7E3;
	border:1px solid #3C78B5;
	border-bottom:0px;
	padding:4px;
	margin:0px;
	text-align:center;
	margin-top:6px;
}
.content_box
{
	border:1px solid #3C78B5;
	background:#F5F7F1;
	padding:4px;
}
.content_float
{
	float:right;
	width:25%;
	margin:10px;
	margin-right:0px;
}
/* CSS templates, cbc  */
.book
{
list-style-image: url(cbc/book.png);
padding-left:4px;
}
.page
{
list-style-image: url(cbc/page.png);
padding-left:4px;
}
input.openid {
  background: url(login-bg.gif) no-repeat;
  background-position: 0 50%;
  padding-left: 20px;
}
.box
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin-bottom:5px;
margin-top:5px;
overflow:hidden;
}
.box pre
{
max-width:100%;
overflow:auto;
}
/* Forun  */
/*
Styles for forum
*/
#prefixes_submit
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	margin:0px;
	margin-left:10px;
	height:18px;
	font-size:11px;
}
p.toptions
{
	margin:0px;
	color:#494949 !important;
	float:right;
	
}
p.toptions a
{
	color:#494949 !important;
}
/* Post CSS */
.posthead
{
	font-size:11px;
	font-weight:bold;
	background-color:#143D55;
	color:white;
	padding:3px;
}
.post
{
	border:1px solid #494949;
	background:#EEEEEE;
}
.leftpost
{
	float:left;
	width:160px;
	background:#EEEEEE;
	padding:4px;

}
.rightpost
{
	background:#DDDDDD;
	overflow:auto;
	padding:4px;
}
.rightpost img
{
	max-width:100%;
}
.leftbottompost
{
	float:left;
	width:160px;
	background:#EEEEEE;
	padding:4px;
	padding-top:5px;
	font-size:11px;
}
.rightbottompost
{
	background:#DDDDDD;
	padding:4px;
	padding-top:5px;
	overflow:auto;
	font-size:11px;
}
/*  add post/topic */
.postform
{
	margin: 0 auto 0 auto;
	width:75%;
	padding: 5px;
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	background:#EEEEEE;
	border: 1px solid #143D55;
	font-size:11px;
}
.postform input
{
	margin-bottom:5px;
	margin-top: 5px;
	width:99%;
	border: 1px solid #143D55;
}
 .postform textarea
 {
	width:99%;
	border: 1px solid #143D55;
 }
.leftpostform
{
	float:left;
	width:130px;
	padding:5px;
}
.rightpostform
{
	overflow:auto;
	padding:5px;
}
.comments
{
	text-align:center;
}
.comments input
{
	width:auto;
}
#checkboxes input
{
	width:auto;
	padding-right:15px;
}
a.solve
{
	background-image:url(solve.png);
	background-repeat:no-repeat;
	padding-left:19px;
}
a.unsolve
{
	background-image:url(unsolve.png);
	background-repeat:no-repeat;
	padding-left:19px;
}

/* pygments, disable highlighing errors */
.highlight_html .err
{
border:0px !important;
}
.highlight_py .err
{
border:0px !important;
}
.highlight_xml .err
{
border:0px !important;
}
.highlight_php .err
{
border:0px !important;
}
.highlight_css .err
{
border:0px !important;
}

.code { background: #f8f8f8; }
.code .c { color: #008800; font-style: italic } /* Comment */
.code .err { border: 1px solid #FF0000 } /* Error */
.code .k { color: #AA22FF; font-weight: bold } /* Keyword */
.code .o { color: #666666 } /* Operator */
.code .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code .cp { color: #008800 } /* Comment.Preproc */
.code .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code .gd { color: #A00000 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #FF0000 } /* Generic.Error */
.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code .gi { color: #00A000 } /* Generic.Inserted */
.code .go { color: #808080 } /* Generic.Output */
.code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code .gt { color: #0040D0 } /* Generic.Traceback */
.code .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.code .kp { color: #AA22FF } /* Keyword.Pseudo */
.code .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.code .m { color: #666666 } /* Literal.Number */
.code .s { color: #BB4444 } /* Literal.String */
.code .na { color: #BB4444 } /* Name.Attribute */
.code .nb { color: #AA22FF } /* Name.Builtin */
.code .nc { color: #0000FF } /* Name.Class */
.code .no { color: #880000 } /* Name.Constant */
.code .nd { color: #AA22FF } /* Name.Decorator */
.code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code .nf { color: #00A000 } /* Name.Function */
.code .nl { color: #A0A000 } /* Name.Label */
.code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code .nv { color: #B8860B } /* Name.Variable */
.code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code .mf { color: #666666 } /* Literal.Number.Float */
.code .mh { color: #666666 } /* Literal.Number.Hex */
.code .mi { color: #666666 } /* Literal.Number.Integer */
.code .mo { color: #666666 } /* Literal.Number.Oct */
.code .sb { color: #BB4444 } /* Literal.String.Backtick */
.code .sc { color: #BB4444 } /* Literal.String.Char */
.code .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: #BB4444 } /* Literal.String.Double */
.code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code .sh { color: #BB4444 } /* Literal.String.Heredoc */
.code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code .sx { color: #008000 } /* Literal.String.Other */
.code .sr { color: #BB6688 } /* Literal.String.Regex */
.code .s1 { color: #BB4444 } /* Literal.String.Single */
.code .ss { color: #B8860B } /* Literal.String.Symbol */
.code .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.code .vc { color: #B8860B } /* Name.Variable.Class */
.code .vg { color: #B8860B } /* Name.Variable.Global */
.code .vi { color: #B8860B } /* Name.Variable.Instance */
.code .il { color: #666666 } /* Literal.Number.Integer.Long */