body
{
margin:0px;
padding:0px;
background-color:#143D55;
font-size:13px;
font-family:"DejaVu Sans", verdana, tahoma, arial;
}
/* Top header styles  */
#crumb
{
	background-color:#0C2432;
	padding:4px;
	color:white;
	border-bottom:solid 1px #3c78b5;
	font-size:11px;
	
}
#crumb a
{
	color:white;
}

#top
{
padding:0px;
margin:0px;
background-image:url(bg1.png);
background-repeat:repeat-x;
height:59px;
}
#top a
{
color:white;
}
#top h1
{
margin:5px; margin-bottom:10px; padding:0px;color:white;
padding-top:17px;
margin-left:15px;
font-size:18px;
font-weight:bold;
font-style: italic;
margin-top:0px;
}
#topmenu
{
float:right;
margin:17px;
}
#topmenu li
{
display:inline;
padding-left:10px;
}
#topmenu a
{
color:#C3C3FF;
}




p
{
margin-top:0px;
}
blockquote
{
	clear: both;
	padding: 1em;
	margin: 0px;
	font-size: 0.9em;
	line-height: 1.7em;
	background-color: #eeeeee;
	border: 1px solid #a9a9a9;
}
img
{
border:0px;
}

.box
{
border:1px solid gray;
background:#EEEEEE;
padding:5px;
margin-bottom:5px;
margin-top:5px;
overflow:hidden;
}


/*
Styles for the center div (content Block)
 */
#center
{
background-color:white;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
border-top:1px #3c78b5 solid;
text-align:justify;
line-height:1.5;
overflow:auto;
padding-top:0px;
margin-top:0px;
}
#center h1
{
border-bottom:3px solid #4993DC;
font-size:20px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
#center h2
{
border-bottom:3px solid #4993DC;
font-size:18px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
#center h3
{
border-bottom:3px solid #4993DC;
font-size:16px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
#center h4
{
border-bottom:1px solid #4993DC;
font-size:14px;
font-weight:bold;
margin-bottom:5px;
overflow:hidden;
}
#center ul, ol
{
	margin-top:3px;
	margin-bottom:15px;
	line-height: 1.8em;
}
#center ol li { margin-left: 2.5em; }
#center ul { padding-left: 2em; list-style-type: square; }
#center a
{
color:#003366;
}
#center a:hover
{
color:#002142;
}

#center th strong
{
color: #fff;
}
#center table
{
border-collapse: collapse;
text-align:center;
width:100%;
}
#center th
{
background: #143D55;
height: 29px;
padding-left: 11px;
padding-right: 11px;
color: #fff;
text-align:center;
border-left: solid 1px #6C6C6C;
}
#center tr
{
height: 30px;
}
#center td
{
padding-left: 10px;
padding-right: 10px;
padding-bottom:5px;
padding-top:5px;
border-left: solid 1px #6C6C6C;
border-bottom:1px solid #6C6C6C;
border-top:1px solid #6C6C6C;
}

#center tr.small
{
	font-size:11px;
	background: #E3E3E3;
}

#center tr.small_solved
{
	font-size:11px;
	background-color: #D6D6D6;
	color:#494949;
}
#center tr.small_prefixes
{
	font-size:11px;
	background-color: #184A67;
	color:white;
}
#center tr.small_prefixes input
{
	width:auto;
	background-color: #143D55;
	color:white;
	border: 1px solid #0B2330;
}
#center tr.small_prefixes form
{
	display:inline;
	padding-right:6px;
}
#center tr.small_prefixes a
{
	color:white !important;
}

#center tr.small_solved a
{
	color:#494949 !important;
}
#center td.first,th.first
{
border-left: 0px;
}
#center tr.rowA
{
background: #E3E3E3;
}
#center tr.rowB
{
background: #D6D6D6;
}

/*
Styles for the main page - right and left column
 */
#left
{
overflow:auto;
}
#left h4
{
margin:0px;
margin-top:15px;
font-size:14px;
font-weight:bold;
}
#left h4 a
{
color:black;
}
#left h4 a:hover
{
color:black !important;
}
#left p
{
margin-bottom:3px;
}

#right
{
margin-left:10px;
float:right;
width:60%;
font-size:11px;
}

/*
Styles for the what's new Feed
 */
.user1
{
padding:5px; background-color:#f0f0f0; border-bottom:1px solid #DDDDDD;
padding-left:27px;
background-image:url(user.png);
background-repeat:no-repeat;
background-position:1% 50%;
color:gray;
}

.user2
{
padding:5px; border-bottom:1px solid #DDDDDD;
padding-left:27px;
background-image:url(user2.png);
background-repeat:no-repeat;
background-position:1% 50%;
background-color:#FBFBFB;
color:gray;
}

.feed
{
background-color:#F5F7F1;
border:1px solid #F5F7F1;
margin-bottom:4px;
color:gray;
}
.feed a
{
font-size:13px;
font-weight:normal;
padding-bottom:5px !important;
}

.left_feed
{
width:20%;
float:left;
padding:3px;
}

.right_feed
{
padding:3px;
overflow:auto;
background-color:white;
}

.forum_feed
{
padding-left:27px;
background-image:url(forum.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.reply_feed
{
padding-left:27px;
background-image:url(reply.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.content_feed
{
padding-left:27px;
background-image:url(document.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.news_feed
{
padding-left:27px;
background-image:url(news.png);
background-repeat:no-repeat;
background-position:1% 50%;
}
.content_update_feed
{
padding-left:27px;
background-image:url(document_edit.png);
background-repeat:no-repeat;
background-position:1% 50%;
}

#feed_rss
{
padding-left:20px;
background-image:url(feed.png);
background-repeat:no-repeat;
background-position:1% 50%;
float:right;
border-bottom:3px solid #4993DC;
font-size:16px;
font-weight:bold;
}

.margin_feed
{
border-bottom:1px solid #F5F7F1;
margin-bottom:10px;
}


/*
Styles for forum
*/
#prefixes_submit
{
	padding:1px;
	padding-left:4px;
	padding-right:4px;
	margin:0px;
	margin-left:10px;
	height:18px;
	font-size:11px;
}



p.toptions
{
	margin:0px;
	color:#494949 !important;
	float:right;
	
}

p.toptions a
{
	color:#494949 !important;
}

/* Post CSS */
.posthead
{
	font-size:11px;
	font-weight:bold;
	background-color:#143D55;
	color:white;
	padding:3px;
}

.post
{
	border:1px solid #494949;
	background:#EEEEEE;
}
.leftpost
{
	float:left;
	width:160px;
	background:#EEEEEE;
	padding:4px;

}
.rightpost
{
	background:#DDDDDD;
	overflow:auto;
	padding:4px;
}
.rightpost img
{
	max-width:100%;
}

.leftbottompost
{
	float:left;
	width:160px;
	background:#EEEEEE;
	padding:4px;
	padding-top:10px;
	font-size:11px;
}
.rightbottompost
{
	background:#DDDDDD;
	padding:4px;
	padding-top:10px;
	overflow:auto;
	font-size:11px;
}


/*  add post/topic */
.postform
{
	margin: 0 auto 0 auto;
	width:75%;
	padding: 5px;
	padding-left:0px;
	padding-right: 0px;
	padding-top: 0px;
	background:#EEEEEE;
	border: 1px solid #143D55;
	font-size:11px;
}

.postform input
{
	margin-bottom:5px;
	margin-top: 5px;
	width:99%;
	border: 1px solid #143D55;
}

 .postform textarea
 {
	width:99%;
	border: 1px solid #143D55;
 }
 
 .leftpostform
{
	float:left;
	width:130px;
	padding:5px;
}
.rightpostform
{
	overflow:auto;
	padding:5px;
}

.comments
{
	text-align:center;
}

.comments input
{
	width:auto;
}

#checkboxes input
{
	width:auto;
	padding-right:15px;
}

/*
Styles for functional links on forums and content (edit,delete,solve etc.)
*/

a.quote
{
	background-image:url(comment.png);
	background-repeat:no-repeat;
	padding-left:17px;
	padding-right:6px;
}
a.edit
{
	background-image:url(edit.png);
	background-repeat:no-repeat;
	padding-left:17px;
	padding-right:6px;
}
a.delete
{
	background-image:url(delete.png);
	background-repeat:no-repeat;
	padding-left:19px;
}

a.solve
{
	background-image:url(solve.png);
	background-repeat:no-repeat;
	padding-left:19px;
}
a.unsolve
{
	background-image:url(unsolve.png);
	background-repeat:no-repeat;
	padding-left:19px;
}


/* boxes for text */
.author
{
border:1px solid gray;
background:#F2F2F2;
padding:5px;
margin-bottom:5px;
margin-top:5px;
overflow:hidden;
font-size:14px;
font-weight:bold;
}


.msg
{
text-align:center;
font-weight:bold;
border:1px solid gray;
background:#F2F2F2;
padding:5px;
margin-bottom:5px;
margin-top:5px;
}

.errmsg
{
text-align:center;
font-weight:bold;
border:1px solid red;
background:#F2F2F2;
padding:2px;
margin:10px;
}

.newsbox
{
border-bottom:1px dotted gray;
border-top:1px dotted gray;
padding:5px;
margin-bottom:35px;
margin-top:15px;
overflow:hidden;
background-color:#F2F2F2;
font-size:11px;
}

.newsbox li
{
display:inline;
padding-right:10px;
}

.added
{
background-image:url(clock.gif);
background-repeat:no-repeat;
padding-left:20px;
}

.comment
{
background-image:url(comment.png);
background-repeat:no-repeat;
padding-left:20px;
}

.aauthor
{
background-image:url(user2.png);
background-repeat:no-repeat;
padding-left:20px;
}


.update
{
background-image:url(update.png);
background-repeat:no-repeat;
padding-left:20px;
}

.bookdiv
{
padding:10px;
background-repeat:no-repeat;
padding-left:145px;
height:105px;
}

.bookcontent
{
margin-bottom:30px;
}

/* pygments, disable highlighing errors */
.highlight_html .err
{
border:0px !important;
}
.highlight_py .err
{
border:0px !important;
}
.highlight_xml .err
{
border:0px !important;
}
.highlight_php .err
{
border:0px !important;
}
.highlight_css .err
{
border:0px !important;
}

/* Tooltip */
#dhtmlgoodies_tooltip{
		background-color:#EEE;
		border:1px solid #000;
		position:absolute;
		display:none;
		z-index:20000;
		padding:2px;
		font-size:0.9em;
		-moz-border-radius:6px;	
		font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;
		
	}
	#dhtmlgoodies_tooltipShadow{
		position:absolute;
		background-color:#555;
		display:none;
		z-index:10000;
		opacity:0.7;
		filter:alpha(opacity=70);
		-khtml-opacity: 0.7;
		-moz-opacity: 0.7;
		-moz-border-radius:6px;	
	}


/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
/* TOP BLACK MENU FOR BOOKS */
#modernbricksmenu2{
padding: 0;
width: 100%;
border-top: 5px solid #0C2432; /*Brown color theme*/ 
background: transparent;
/* overflow:auto; */
margin:0px;
}

#modernbricksmenu2 ul{
margin:0;
margin-left: 0px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

#modernbricksmenu2 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

#modernbricksmenu2 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: #000000; /*Brown color theme*/ 
border-top: 1px solid white;
}

#modernbricksmenu2 a:hover{
background-color: #0C2432; /*Brown color theme*/ 
color: white;
}

#modernbricksmenu2 #current a{ /*currently selected tab*/
background-color: #0C2432; /*Brown color theme*/ 
color: white;
border-color: #0C2432; /*Brown color theme*/ 
}

#myform{ /*CSS for sample search box. Remove if desired */
margin: 0;
margin-top: 3px;
padding: 0;
margin-right:5px;
display:inline;
}

#myform .textinput{
width: 190px;
background-color: #0C2432;
border: 1px #3c78b5 solid;
color:white;
font-size:11px;
}

#myform .submit{
color:white;
height: 17px;
background-color: #0C2432;
border: 1px #3c78b5 solid;
font-size:11px;
}

/* TOP BLACK MENU FOR SITE LINKS */
#modernbricksmenu{
padding:0px;
margin:0px;
margin-top:15px;
background: transparent;
text-align:right;
/*float:right;*/
overflow:auto;
}

#modernbricksmenu ul{
font: bold 11px Arial;
margin:0;
margin-left: 40px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
text-align:right;
}

#modernbricksmenu li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

#modernbricksmenu a{
float: right;
display: block;
color: white;
margin-right: 5px;
padding: 5px 10px;
text-decoration: none;
letter-spacing: 1px;
background-color: black; /*Default menu color*/
}

#modernbricksmenu a:hover{
background-color: #0C2432; /*Menu hover bgcolor*/
}

#modernbricksmenu #current a{ /*currently selected tab*/
border-top: 1px #3c78b5 solid;
border-right: 1px #3c78b5 solid;
border-left: 1px #3c78b5 solid;
}

#modernbricksmenuline{
clear: both;
padding: 0;
height: 2px;
line-height: 5px;
background: #3c78b5;
}

/* DOWN BLACK MENU FOR FOOTER  */
#modernbricksmenu3{
padding: 0px;
border-top: 2px solid #3c78b5;
background: transparent;
/* overflow:auto; */
margin:0px;
text-align:center;
margin-bottom:50px;
}

#modernbricksmenu3 ul{
margin:0;
margin-right: 5px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

#modernbricksmenu3 li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

#modernbricksmenu3 a{
float: left;
display: block;
font: bold 11px Arial;
color: white;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px;
background-color: #000000; /*Brown color theme*/ 
border-top: 1px solid #143D55;
}

#modernbricksmenu3 a:hover{
background-color: #0C2432; /*Brown color theme*/ 
color: white;
}

/* CONTENT MENU FOR Content/wiki links  */
.basictab{
padding: 0;
margin-left: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: right;

line-height: 1em !important;
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-left: 3px;
border: 1px solid gray;
border-top: none;
background-color: #F2F2F2;
color: black !important;
}

.basictab li a:visited{
color: black;
}

.basictab li a:hover{
background-color: #3c78b5;
color: white !important;
}

.basictab li a:active{
color: black;
}


.content table
{
	/*text-align:center;*/
	margin: 0 auto 0 auto;
}
.content input
{
	width:75%;
}
.content label
{
	font-weight:bold;
}

.code { background: #f8f8f8; }
.code .c { color: #008800; font-style: italic } /* Comment */
.code .err { border: 1px solid #FF0000 } /* Error */
.code .k { color: #AA22FF; font-weight: bold } /* Keyword */
.code .o { color: #666666 } /* Operator */
.code .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.code .cp { color: #008800 } /* Comment.Preproc */
.code .c1 { color: #008800; font-style: italic } /* Comment.Single */
.code .cs { color: #008800; font-weight: bold } /* Comment.Special */
.code .gd { color: #A00000 } /* Generic.Deleted */
.code .ge { font-style: italic } /* Generic.Emph */
.code .gr { color: #FF0000 } /* Generic.Error */
.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code .gi { color: #00A000 } /* Generic.Inserted */
.code .go { color: #808080 } /* Generic.Output */
.code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code .gs { font-weight: bold } /* Generic.Strong */
.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code .gt { color: #0040D0 } /* Generic.Traceback */
.code .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.code .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.code .kp { color: #AA22FF } /* Keyword.Pseudo */
.code .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.code .kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.code .m { color: #666666 } /* Literal.Number */
.code .s { color: #BB4444 } /* Literal.String */
.code .na { color: #BB4444 } /* Name.Attribute */
.code .nb { color: #AA22FF } /* Name.Builtin */
.code .nc { color: #0000FF } /* Name.Class */
.code .no { color: #880000 } /* Name.Constant */
.code .nd { color: #AA22FF } /* Name.Decorator */
.code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code .nf { color: #00A000 } /* Name.Function */
.code .nl { color: #A0A000 } /* Name.Label */
.code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code .nv { color: #B8860B } /* Name.Variable */
.code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code .mf { color: #666666 } /* Literal.Number.Float */
.code .mh { color: #666666 } /* Literal.Number.Hex */
.code .mi { color: #666666 } /* Literal.Number.Integer */
.code .mo { color: #666666 } /* Literal.Number.Oct */
.code .sb { color: #BB4444 } /* Literal.String.Backtick */
.code .sc { color: #BB4444 } /* Literal.String.Char */
.code .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: #BB4444 } /* Literal.String.Double */
.code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code .sh { color: #BB4444 } /* Literal.String.Heredoc */
.code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code .sx { color: #008000 } /* Literal.String.Other */
.code .sr { color: #BB6688 } /* Literal.String.Regex */
.code .s1 { color: #BB4444 } /* Literal.String.Single */
.code .ss { color: #B8860B } /* Literal.String.Symbol */
.code .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.code .vc { color: #B8860B } /* Name.Variable.Class */
.code .vg { color: #B8860B } /* Name.Variable.Global */
.code .vi { color: #B8860B } /* Name.Variable.Instance */
.code .il { color: #666666 } /* Literal.Number.Integer.Long */


/* blue content box DIV  */
.content_box_header
{
	font-size:11px;
	font-weight:bold;
	background-color:#C8D7E3;
	border:1px solid #3C78B5;
	border-bottom:0px;
	padding:4px;
	margin:0px;
	text-align:center;
	margin-top:6px;
}

.content_box
{
	border:1px solid #3C78B5;
	background:#F5F7F1;
	padding:4px;
}

.content_float
{
	float:right;
	width:25%;
	margin:10px;
	margin-right:0px;
}


input.openid {
  background: url(login-bg.gif) no-repeat;
  background-position: 0 50%;
  padding-left: 20px;
}

.plus
{
list-style-image: url(plus.png);
}
.minus
{
list-style-image: url(minus.png);
}
.book
{
list-style-image: url(cbc/book.png);
}
.page
{
list-style-image: url(cbc/page.png);
}

