{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{{ site_name }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/site_media/themes/{{ perms.engine }}/{{ perms.theme }}/{{ perms.theme }}.css" />
</head>
<body>

<div id="punwrap">
<div id="punindex" class="pun">

<div id="brdheader" class="block">
	<div class="box">
		<div id="brdmenu" class="inbox">
			<a href="/" style="text-decoration:underline;">{% trans "Main Page" %}</a>  | <a href="/news/" style="text-decoration:underline;">{% trans "News" %}</a> | <a href="/user/" style="text-decoration:underline;">{% trans "My Profile" %}</a> | <a href="/forum/" style="text-decoration:underline;">{% trans "Forum" %}</a>
		</div>
		<div id="brdtitle" class="inbox">
			<h1><span>{% block header %}Diamanda Wiki{% endblock %}</span></h1>
		</div>
		<div id="brdmenu" class="inbox">
{% block leftmenu %}{% if perms.is_authenticated %}
<a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a> | <a href="/forum/mytopics/">{% trans "My Topics" %}</a> | <a href="/forum/myptopics/">{% trans "My Posts" %}</a>
{% endif %}{% endblock %}
		</div>
	</div>
</div>


{% block content %}{% endblock %}

<div style="text-align:center; font-weight:bold;">MyghtyBoard ^_^ Diamanda Wiki</div>
<div style="text-align:center;">Theme based on punBB Theme - {{ perms.theme }}</div>
</div>
</div>

</body>
</html>