{% extends "pages/body.html" %}
{% load i18n %}
{% block header %}{% trans "Gettext Translations Manager" %}{% endblock %}
{% block content %}
<b>Moduł Tłumaczeń Gettexta</b> służy do zarządzania i pobierania tłumaczeń różnych aplikacji. Możesz pobrać ostatnie tłumaczenia jak i pomóc w tłumaczeniu nieprzetłumaczonych aplikacji.<br /><br />


<h4 class="pageh">Co to jest Gettext i jak wykorzystać pobrane pliki PO ?</h4>
GNU gettext to pakiet oprogramowania, stworzony w ramach projektu GNU, służący do internacjonalizacji programów komputerowych poprzez tłumaczenie ich komunikatów. Wykorzystywany przez większość aplikacji OpenSource powinien być dostępny w każdej dystrybucji Linuksa. <b>By wygenerować plik *.mo używany przez aplikacje</b> wystarczy polecenie:
<div class="box">msgfmt plik.po -o plik.mo</div>
Następnie plik .mo (zazwyczaj poprawna nazwa to NAZWA_APLIKACJI.mo) należy przenieść do katalogu z tłumaczeniami, zazwyczaj jest to <b>/usr/share/locale/pl/LC_MESSAGES</b><br /><br />

<h4 class="pageh">Do czego służy "Moduł Tłumaczeń Gettexta" ?</h4>
<ul>
<li>Listuje ostatnio wykonane tłumaczenia przez społeczność Biblioteki</li>
<li>Umożliwia pobieranie tłumaczeń</li>
<li>Umożliwia tłumaczenie nieprzetłumaczonych plików .po</li>
</ul><br />

<h4 class="pageh">Wskazówki dla tłumaczy</h4>
<ul>
<li>Pliki gettexta powinny być kodowane w UTF-8.</li>
<li>Aby na bazie starego pliku .po wygenerować nowy .po dla zaktualizowanej wersji pliku .pot z wykorzystaniem w miarę możliwości starych tłumaczeń wykonaj:</li>
</ul>
<div class="box">msgmerge stary.po nowy_pusty.pot -o nowy.po</div>

{% endblock %}

{% block right %}<h4>{% trans "Options" %}</h4>
<ul>
<li><a href="/">{% trans "Main Page" %}</a></li>
<li><a href="/forum/forum/4/">{% trans "Translations Forum" %}</a></li>
<li><a href="/tra/list/">{% trans "Translations Main Page" %}</a></li>
</ul>
{% endblock %}

{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/tra/">{% trans "Translations" %}</a> > <a href="/tra/list/">{% trans "Translations List" %}</a>{% endblock %}