{% load i18n %}
{% extends "wiki/body.html" %}
{% block content %}
{% trans "This Page lists all tasks. You can post comments and help solving issues." %}<br /><br />
<h2>{% trans "Site Tasks" %}</h2>
{% if object_list %}
<div class="content">
          <table>
            <tr>
              <th class="first"></td>
              <th><strong>{% trans "Task Title" %}</strong></th>
              <th><strong>{% trans "Task Status" %}</strong></th>
              <th><strong>{% trans "Last Update" %}</strong></th>
            </tr>
           {% for t in object_list %}
            <tr class="{% cycle rowA,rowB %}"> 
              <td class="first">
              {% if t.is_sticky %}
		<img src="/site_media/static/stick.png" alt="" />
              {% else %}
			{% ifequal t.task_status "Open" %}
			<img src="/site_media/static/normal.png" alt="" />
			{% endifequal %}
			{% ifequal t.task_status "Closed" %}
			<img src="/site_media/static/lock.png" alt="" />
			{% endifequal %}
		{% endif %}
              </td>
              <td><a href="/tasks/task_show/{{ t.id }}/">{{ t.task_name }}</a></td>
              <td>{{ t.task_status }}</td>
              <td>{{ t.task_modification_date|truncatewords:"1" }}</td>
            </tr>
	    {% endfor %}
          </table>
</div>
<br />
<div class="box"><br />
{% if has_previous %}
	<a href="/tasks/task_list/{{ previous }}/"><b>{% trans "Previous Page" %}</b></a>
{% endif %}
{% if has_next %}
	<a href="/tasks/task_list/{{ next }}/"><b>{% trans "Next Page" %}</b></a>
{% endif %}
</div>
{% endif %}
<div class="box">
<br /><b>
<div style="float:left;">
<img src="/site_media/static/normal.png" alt="" /> - {% trans "Assigned" %}<br />
<img src="/site_media/static/lock.png" alt="" /> - {% trans "Locked" %}<br />
<img src="/site_media/static/stick.png" alt="" /> - {% trans "Sticky" %}</div>
</b>
</div><br />
{% endblock %}

{% block leftmenu %}
<li><a href="/">{% trans "Wiki Main Page" %}</a></li>
<li><a href="/forum/">{% trans "Forum Main Page" %}</a></li>
{% endblock %}