{% load i18n %}
{% extends "wiki/punbb/body.html" %}
{% block title %}{{ task.task_name }}{% endblock %}
{% block header %}
{{ task.task_name }}
{% endblock %}
{% block content %}
{% trans "This page describes a site task. You can post comments regarding it." %}<br /></div><br />

<div class="blocktable">
	<h2><span>{% trans "Task Description" %}</span></h2>
	<div class="box">
		<div class="inbox" style="padding:5px;">
{{ task.task_text }}
<br />
</div></div></div>

<br />

<div class="blocktable">
	<h2><span>{% trans "Task Info" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<tbody>

			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Task Type" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ task.task_type }}</td>
			</tr>
			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Task Status" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ task.task_status }}</td>
			</tr>
			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Assigned To" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ user_list }}</td>
			</tr>
			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Creation Date" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ task.task_creation_date }}</td>
			</tr>
			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Last Modification Date" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ task.task_modification_date }}</td>
			</tr>
			<tr>
				<td class="tc2">
					<div class="intd">
						<div class="tclcon">
							<h3>{% trans "Task Progress" %}</h3>
						</div>
					</div>
				</td>
				<td class="tc3">{{ task.task_progress }}%</td>
			</tr>
</tbody>
				</table>
			</div>
		</div>
	</div><br />

{% if add_task %}
<div class="box"><br /><div style="text-align:center;font-weight:bold;"><a href="/tasks/task_add/">{% trans "Add new Task" %}</a> | <a href="/admin/tasks/task/{{ task.id }}/">{% trans "Edit Task" %}</a></div><br /></div><br />
{% endif %}


{% if com %}
<div class="blocktable">
	<h2><span>{% trans "Task Comments" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<tbody>
{% for c in com %}
			<tr>
				<td class="tcl">
					<div class="intd">
						<div class="tclcon">
							{{ c.com_text }} (<b><a href="/user/show_profile/{{ c.com_author }}/">{{ c.com_author }}</a></b>)
						</div>
					</div>
				</td>
				<td class="tc3">{{ c.com_date|truncatewords:"1" }}<br />{{ c.com_ip }}</td>
			</tr>
{% endfor %}
				</tbody>
				</table>
			</div>
		</div>
	</div><br />

{% endif %}
<div class="box"><br />
<div style="text-align:center;"><input type="button" value="{% trans "Add Comment" %}" onclick="location.assign('/tasks/task_com_add/{{ task.id }}/');" /></div>
<br />
{% endblock %}
