{% extends "body.html" %}
{% load i18n %}
{% block content %}
<h2>{% trans "Change Password" %}</h2>
{% if form.has_errors %}
<div class="errmsg">{% trans "There was a problem with password change. Did you entered correct current password?" %}</div>
{% endif %}

<form method="post" action="./">{% csrf_token %}
<table>
<tr><td class="first"><strong>{% trans "Current Password" %}</strong>:</td><td>{{ form.old_password }}</td></tr>
<tr><td class="first"><strong>{% trans "New Password" %}</strong>:</td><td>{{ form.new_password1 }}</td></tr>
<tr><td class="first"><strong>{% trans "New Password again" %}</strong>:</td><td>{{ form.new_password2 }}</td></tr>
<tr><td class="first"> </td><td><input type="submit" value="{% trans "Change Password" %}"></td></tr>
</table>
</form>

{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/user/">{% trans "User Panel" %}</a>{% endblock %}
{% block on_user %} id="current"{% endblock %}