{% extends "pages/body.html" %}

{% block header %}
Biblioteka Riklaunima - O autorze
{% endblock %}

{% block content %}
<h2 class="pageh">O Mnie</h2>
Nazywam się Piotr Maliński i jestem autorem "Biblioteki Riklaunima". Urodziłem się w 1983 roku w Warszawie choć do czasu rozpoczęcia studiów mieszkałem w Puławach. Absolwent Politechniki Warszawskiej na kierunku Technologia Chemiczna. Generalnie zajmuję się programowaniem w Pythonie oraz w PHP z wykorzystaniem baz danych (MySQL/PostgreSQL/SQLite), jak również zajmuję się systemami linuksowymi. Biegle posługuję się językiem angielskim (wykonuję m.in. tłumaczenia dla ciekawych aplikacji unixowych) oraz dość dobrze znam język rosyjski, choć dawno nie używany.<br /><br />

<h2 class="pageh">Osiągnięcia :)</h2>
Od ponad czterech lat prowadzę własne serwisy internetowe pod nazwą "Bibioteka Riklaunima". Obecnie serwisy notują około 3000 unikalnych odwiedzin dziennie a odnośniki do nich można znaleźć na wielu stronach, forach dyskusyjnych jak i w czasopismach.<br /><br />
Na początku 2005 roku współpracowałem z redakcją <b>Komputer Świat Ekspert</b>, na łamach którego opublikowane zostały trzy moje artykuły (1/2005 Porównanie systemów CMS, 2/2005 System Skór AutoTheme, 4/2005 Rozbudowa phpBB). W numerze 2006/1 <b>Magazynu Internet</b> ukazał się mój artykuł "Katalog Torrentów" opisujący pakiet Torrent biblioteki PEAR. W 2006 współpracowałem z firmą <b>TiGroup</b> (Wykonanie katalogu ofert dla <u>Business Centre Club</u> oraz aktualizacja interfejsu serwisu <u>oferciak.pl</u> powiązana z migracją na bazę postgreSQL). W numerze 2007/1 <b>phpSolutions</b> ukazał się mój artykuł "PunBB - nowoczesne forum dyskusyjne ".<br /><br />

<h2 class="pageh">Kontakt</h2>
Skontaktować się ze mną można na kilka sposobów:<br />
<b>E-Mail</b>: <a href="mailto:riklaunim@gmail.com">riklaunim@gmail.com</a><br />
<b>Gadu-Gadu</b>: 4362016 (zalecam email)
{% endblock %}

{% block title %}Biblioteka Riklaunima - O Autorze{% endblock %}
{% block description %}Biblioteka Riklaunima{% endblock %}
