{% extends "pages/body.html" %}

{% block header %}
Biblioteki Riklaunima
{% endblock %}

{% block content %}
Biblioteka Riklaunima to zbiór niekomercyjnych serwisów informacyjnych poświęconych kilku różnym tematom, głównie programowaniu i informatyce. Zawarte w nich materiały są ogólnodostępne i mogą być powszechnie wykorzystywane do celów niekomercyjnych z zachowaniem informacji o autorze i źródle (nie dotyczy kopiowania całych artykułów na forach i innych stronach). W przypadku pytań proszę o kontakt - <a href="mailto:riklaunim@gmail.com">riklaunim@gmail.com</a>.

<br /><br />
<h2 class="pageh">Biblioteka PHP</h2>
<h4 class="pageh"><a href="http://www.php.rk.edu.pl">www.php.rk.edu.pl</a></h4>
Serwis poświęcony nauce programowania w PHP z wykorzystaniem baz danych. Biblioteka omawia podstawy języka jak i sposoby tworzenia kompletnych aplikacji internetowych z wykorzystaniem frameworków takich jak Code Igniter. Artykuły napisane są przystępnym, zrozumiałym dla początkujących języku.<br /><br />

<h2 class="pageh">Biblioteka CMS</h2>
<h4 class="pageh"><a href="http://www.cms.rk.edu.pl">www.cms.rk.edu.pl</a></h4>
Serwis poświęcony gotowym skryptom CMSów, Galerii, For dyskusyjnych i innych opisując najciekawsze rozwiązania. W Bibliotece znajdziesz listę polecanych skryptów jak również artykuły opisujące je jak i różne modyfikacje i integracje skryptów ze sobą.<br /><br />

<h2 class="pageh">Biblioteka Pythona</h2>
<h4 class="pageh"><a href="http://www.python.rk.edu.pl">www.python.rk.edu.pl</a></h4>
Serwis poświęcony pythonowi - interpretowalnemu językowi programistycznemu o wszechstronnym zastosowaniu. W Bibliotece znajdziesz wprowadzenie do języka jak i tematykę bardziej specyficzną: tworzeniem aplikacji internetowych, graficznych interfejsów i więcej.
<br /><br />

<h2 class="pageh">Biblioteka Linuksa</h2>
<h4 class="pageh"><a href="http://www.linux.rk.edu.pl">www.linux.rk.edu.pl</a></h4>
Serwis poświęcony linuksowi i otwartemu oprogramowaniu. W Bibliotece Linuksa znajdziesz artykuły dotyczące konfiguracji i instalacji różnych dystrybucji, opisy ciekawych aplikacji jak i porady dla początkujących.
<br /><br />

<h2 class="pageh">Biblioteka cRPG - Baldurs Gate i Icewind Dale</h2>
<h4 class="pageh"><a href="http://www.crpg.rk.edu.pl">www.crpg.rk.edu.pl</a></h4>
Biblioteka Poświęcona grom fatasy opartych na silniku Infinity - Baldurs Gate i Icewind Dale. W Bibliotece znajdziesz informacje o samych grach jak również o dodatkach i sposobach modyfikacji silnika Infinity.
<br /><br />

<h2 class="pageh">Biblioteka Nauki</h2>
<h4 class="pageh"><a href="http://www.nauka.rk.edu.pl">www.nauka.rk.edu.pl</a></h4>
Biblioteka poświęcona ciekawym zagadnieniom ze świata nauki i technologii.
<br /><br />

<h2 class="pageh">rkBlog</h2>
<h4 class="pageh"><a href="http://www.rkblog.rk.edu.pl">www.rkblog.rk.edu.pl</a></h4>
Anglojęzyczny blog poświęcony głównie programowaniu (głównie python) jak i również linuksowe i pochodnym tematom.
{% endblock %}

{% block title %}Biblioteki Riklaunima{% endblock %}
{% block description %}Biblioteki Riklaunima{% endblock %}
