{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{% block title %}{{ siteName }}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{ site_desc }}{% endblock %}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Distribution" content="Global" />
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="/site_media/layout/style.css" type="text/css" />
<link rel="shortcut icon" href="/site_media/layout/favicon.ico" />
<script src="/site_media/layout/libs.js" type="text/javascript"></script>
{% block meta %}{% endblock %}
</head>
<body>

<div id="head">
	<h1>{% block header %}{{ siteName }}{% endblock %}</h1>
	<ul>
		<li{% if on_help %} id="current"{% endif %}><a href="/w/">{% trans "Help Page" %}</a></li>
		<li{% if on_forum %} id="current"{% endif %}><a href="/forum/">{% trans "Forum" %}</a></li>
		<li{% block on_user %}{% endblock %} id="loginlink">
		{% if user.is_authenticated %}
			<a href="/user/">{% trans "My Account" %} ({{ user }})</a>
		{% else %}
			{% if new_openid %}
				<a href="/user/register_openid/" >{% trans "Compleate OpenID registration" %}</a>
			{% else %}
				<a href="/user/login/" rel="facebox">{% trans "Login or Register" %}</a>
			{% endif %}
		{% endif %}</li>
	</ul>
</div>
<div class="invertedshiftdown2">
<ul>
	<li class="current"><a href="/">{% trans "Home" %}</a></li>
	{% for b in books %}
		<li><a href="/w/p/{{ b.slug }}/">{{ b.title }}</a></li>
	{% endfor %}
</ul>

<br style="clear: both;" />
</div>

<div id="container">
	<div id="contentWrapperMainPage">
		<div class="content">

		{% block content %}{% endblock %}
		</div>
	</div>
	<div id="panelWrapperMainPage">
		<div class="panelindex">
			<h3>{% trans "Whats new on" %} {{ siteName }} ?</h3>
			<div id="feed">
			{% block feed %}{% endblock %}
			</div>
			<div id="endfeed">
				<a href="/w/n/" class="ext">{% trans "Browse news" %}</a> <a href="/w/rss/" class="rss">{% trans "RSS - Latest Articles" %}</a> <a href="/w/rss/all/" class="rss">{% trans "RSS - What's new" %}</a>
			</div>
		</div>
	</div>
	<br style="clear:both;" />
</div>


</body>
</html>