{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{{ siteName }}{% endblock %}</title>
<meta name="description" content="{% block description %}{{ site_desc }}{% endblock %}" />
<meta name="Robots" content="index,follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/site_media/layout/style.css" type="text/css" rel="stylesheet" />
{% block meta %}{% endblock %}
</head>
<body style="background-color:white;">
	<div id="center" style="border:0px;">
	<h2><a href="/">{{ siteName }}</a></h2>
		{% block content %}{% endblock %}
	</div>
</body>
</html>