{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{{ site_name }}{% endblock %}</title>
<meta name="description" content="{% block description %}{{ site_desc }}{% endblock %}" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="index,follow" />
<link rel="stylesheet" href="/site_media/layout/style.css" type="text/css" />
<link rel="shortcut icon" href="/site_media/layout/favicon.ico" />
<!--<script src="/site_media/layout/jquery.pack.js" type="text/javascript"></script>-->
<script src="/site_media/layout/biblioteka.js" type="text/javascript"></script>
{% block meta %}{% endblock %}
</head>
<body>
	<div id="crumb"><b>{% trans "You are here" %}</b>: {% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}</div>
	<div id="top">
		<div id="topmenu">
			<form id="myform" action="/w/search/" method="post">
			<input type="text" class="textinput" name="term" /> <input class="submit" type="submit" value="{% trans "Search" %}" />
			</form>
		</div>
		<h1>{% block header %}{{ site_name }}{% endblock %}</h1>
	</div>
	<div id="modernbricksmenu2">
	<ul>
	<li><a style="color:yellow;">{% trans "Categories:" %}</a></li>
	{% for b in books %}
		<li{% ifequal b.slug current_book %} id="current"{% endifequal %}><a href="/w/p/{{ b.slug }}/">{{ b.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
	<div id="modernbricksmenu">
		<ul>
		{% block leftmenu %}
			<li{% if on_forum %} id="current"{% endif %}><a href="/forum/">{% trans "Forum" %}</a></li>
			<li{% if on_user %} id="current"{% endif %} id="loginlink">
			{% if user.is_authenticated %}
				<a href="/user/">{% trans "My Account" %} ({{ user }})</a>
			{% else %}
				<a href="/user/login/" onclick="return logowanie();">{% trans "Login or Register" %}</a>
			{% endif %}</li>
		{% endblock %}
		</ul>
	</div>
	<div id="modernbricksmenuline">&nbsp;</div>
	<div id="center">
		<ul class="basictab">
			{% block pagemenu %}{% endblock %}
		</ul>
		{% block right %}{% endblock %}
		{% block content %}{% endblock %}
	</div>
	<div id="modernbricksmenu3">
	<ul>
		<li><a href="/w/n/">{% trans "Browse news" %}</a></li>
		<li><a href="/w/rss/">{% trans "RSS - Latest Publications" %}</a></li>
	</ul>
	</div>
	{% if not user.is_authenticated %}
	<div id="loginform">
		<a>
			<form id="inlinelogin" name="inlinelogin" method="post" action="/user/login/">
				Login: <input type="text" name="username" size="15" maxlength="30" />
				Password:  <input type="password" name="password" size="15" maxlength="30" />
				<input type="submit" value="Login" id="inlinesubmit" /> or
				<input type="button" onclick="location.assign('/user/register/');" value="Register" id="inlinesubmit" />
			</form>
		</a>
	</div>
	{% endif %}
</body>
</html>

<br /><br />
<div class="box">