{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %}{{ siteName }}{% endblock %}</title>
<meta name="description" content="{% block description %}{{ site_desc }}{% endblock %}" />
<meta name="Robots" content="index,follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/site_media/layout/style.css" type="text/css" rel="stylesheet" />
<link href="/site_media/layout/facebox/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="/site_media/layout/favicon.ico" />
<script src="/site_media/layout/jquery.pack.js" type="text/javascript"></script>
<script src="/site_media/layout/facebox/facebox.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
   $('a[rel*=facebox]').facebox() 
 })
</script>
{% block meta %}{% endblock %}
</head>
<body>
	<div id="crumb"><b>{% trans "You are here" %}</b>: {% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}</div>
	<div id="top">
		<div id="topmenu">
			<form id="myform" action="/w/search/" method="post">
			<input type="text" class="textinput" name="term" /> <input class="submit" type="submit" value="{% trans "Search" %}" />
			</form>
		</div>
		<h1>{% block header %}{{ siteName }}{% endblock %}</h1>
	</div>
	<div id="modernbricksmenu2">
	<ul>
	<li><a style="color:yellow;">{% trans "Categories:" %}</a></li>
	{% for b in books %}
		<li{% ifequal b.slug current_book %} id="current"{% endifequal %}><a href="/w/p/{{ b.slug }}/">{{ b.title }}</a></li>
	{% endfor %}
	</ul>
	</div>
	<div id="modernbricksmenu">
		<ul>
		<li{% if on_help %} id="current"{% endif %}><a href="/w/">{% trans "Help Page" %}</a></li>
		<li{% if on_forum %} id="current"{% endif %}><a href="/forum/">{% trans "Forum" %}</a></li>
		<li{% block on_user %}{% endblock %} id="loginlink">
		{% if user.is_authenticated %}
			<a href="/user/">{% trans "My Account" %} ({{ user }})</a>
		{% else %}
			{% if new_openid %}
				<a href="/user/register_openid/" >{% trans "Compleate OpenID registration" %}</a>
			{% else %}
				<a href="/user/login/" rel="facebox">{% trans "Login or Register" %}</a>
			{% endif %}
		{% endif %}</li>
		</ul>
	</div>
	<div id="modernbricksmenuline">&nbsp;</div>
	<div id="center">
		<ul class="basictab">
			{% block pagemenu %}<li style="display:hidden;"></li>{% endblock %}
		</ul>
		{% block content %}{% endblock %}
	</div>
	<div id="modernbricksmenu3">
	<ul>
		<li><a href="/w/n/">{% trans "Browse news" %}</a></li>
		<li><a href="/w/rss/">{% trans "RSS - Latest Articles" %}</a></li>
		<li><a href="/w/rss/all/">{% trans "RSS - What's new" %}</a></li>
	</ul>
	</div>
</body>
</html>