{% extends "pages/body.html" %}
{% load i18n %}
{% block header %}{% if book %}{% trans "News" %}: {{ bk.title }}{% else %}{% trans "News" %}{% endif %}{% endblock %}
{% block title %}{% trans "News" %}{% endblock %}
{% block description %}{% trans "News" %}{% endblock %}
{% block content %}
{% if object_list %}
	<h2>{% if book %}{% trans "News" %}: {{ bk.title }}{% else %}{% trans "News" %}{% endif %}</h2>
	<ul>
	{% for t in object_list %}
	<li><a href="/w/p/{{ t.slug }}/" style="text-decoration:none;"><strong>{{ t.title }}</strong></a> - {{ t.date|date:"d.m.Y" }}</li>
	{% endfor %}
	</ul>
{% else %}
	<b>{% trans "There are no news." %}</b><br /><br />
{% endif %}


{% ifnotequal pages 1 %}
<div class="box">
<strong>{% trans "Pages: " %}</strong>
{% for i in cnt %}
	[<a href="/w/n/{% if book %}{{ book }}/{% endif %}?page={{ i }}">{% ifequal i page %}<b>{{ i }}</b>{% else %}{{ i }}{% endifequal %}</a>]
{% endfor %}
</div>
{% endifnotequal %}

{% endblock %}

{% block pagemenu %}
{% if book %}<li><a href="/w/p/{{ bk.slug }}/">{% trans "Go Back" %}</a></li>{% endif %}
<li><a href="/">{% trans "Home" %}</a></li>
{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/w/n/">{% trans "News" %}</a>{% endblock %}