{% load cbc %}
<rss version="2.0"><channel>
<title>{{ site_name }} | {{ book.title }}</title>
<link>{{ domain }}/</link>
<description>{{ site_desc }}</description>
<language>pl</language>
<image>
<title>{{ site_name }} | {{ book.title }}</title>
<url>{{ domain }}/site_media/layout/tux.png</url>
<link>{{ domain }}/</link>
<width>132</width>
<height>124</height>
</image>
{% for p in pages %}<item>
<guid>{{ domain }}/w/p/{{ p.slug }}/</guid>
<link>{{ domain }}/w/p/{{ p.slug }}/</link>
<title><![CDATA[{{ p.title }}]]></title>
<description><![CDATA[{{ p.description|cbc|safe }}]]></description>
<pubDate>{{ p.date }}</pubDate>
</item>
{% endfor %}</channel></rss>