{% extends "pages/body.html" %}
{% load cbc %}
{% load i18n %}
{% block header %}{{ siteName }} {% trans "Help Page" %}{% endblock %}
{% block title %}{{ siteName }} {% trans "Help Page" %}{% endblock %}
{% block description %}{{ siteName }} {% trans "Help Page" %}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/w/">{% trans "Help Page" %}</a>{% endblock %}

{% block content %}
	<div class="content_box_header">{% trans "How to navigate on this site?" %}</div>
	<div class="content_box">
		<div style="float:right;"><img src="/site_media/layout/help/navigation.png" alt="" /></div>
		<ul>
			<li>{% trans "This site contains pages and news grouped in categories." %}</li>
			<li>{% trans "To navigate over the presented content you can use" %}:
				<ul>
				<li>{% trans "<b>Categories</b> listed below the page title hold all available articles" %}.</li>
				<li>{% trans "<b>Search</b> form at the top right corner of the page" %}.</li>
				<li>{% trans "<b>You are here</b> links located at the top of the page - showing your current location. You can use those links to go back to categories from articles, news etc." %}.</li>
				</ul>
			<div style="text-align:center;"><img src="/site_media/layout/help/nav_en.png" alt="" /></div>
			</li>
		</ul>
	</div>

	<div class="content_box_header">{% trans "How can I track new articles and posts?" %}</div>
	<div class="content_box">
		<div style="float:right;"><img src="/site_media/layout/help/feeds.png" alt="" /></div>
		<ul>
			<li>{% trans "The <b>What's new?</b> column on the main page lists all new and updated articles, news, and posts." %}</li>
			<li>{% trans "To track changes without visiting the site often you can use" %} <a href="/w/rss/all/"><b>{% trans "this RSS channel" %}</b></a> {% trans "that tracks all articles and posts activity." %}</li>
			<li>{% trans "To get only new articles you can use" %} <a href="/w/rss/"><b>{% trans "this RSS channel" %}</b></a>.</li>
			<li>{% trans "RSS Channels are handled by most browsers like Firefox or applications called feed aggregators, and will notify you about new entries without visiting the site." %}</li>
			{% if rss %}
				<li>{% trans "You can also use feeds for selected categories (pages and news)" %}:</li>
				<ul>
				{% for i in rss %}
				<li><a href="/w/r/{{ i.slug }}/">{{ i.title }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
			<br /><br />
			{% endif %}
		</ul>
	</div>


	<div class="content_box_header">{% trans "Do I have to register?" %}</div>
	<div class="content_box">
		<div style="float:right;"><img src="/site_media/layout/help/user.png" alt="" /></div>
		<ul>
			<li>{% trans "You can read all content on this page without the need to register or login" %}.</li>
			<li>{% trans "Registration will give you ability to add comments, posts and submit your own articles" %}.</li>
			<li>{% trans "If you are a new user you can" %} <a href="/user/register/"><b>{% trans "register" %}</b></a> {% trans "using a simple form" %}.</li>
			<li>{% trans "If you have an OpenID, then you can use it to login on this site and create a user account without any extra passwords" %}.</li>
			<li>{% trans "If you forgotten your password, then you can" %} <a href="/user/password_reset/"><b>{% trans "reset it" %}</b></a>.</li>
		</ul>
	</div>

	<div class="content_box_header">{% trans "How can I add or edit content on this site?" %}</div>
	<div class="content_box">
		<div style="float:right;"><img src="/site_media/layout/help/submit.png" alt="" /></div>
		<ul>
			<li>{% trans "Using a" %} <a href="/w/submit/">{% trans "simple form" %}</a> {% trans "you can add simple articles and news." %}</li>
			<li>{% trans "Submitted articles will be reviewed/edited by the site staff and published in time if it will match staff criteria." %}</li>
			<li>{% trans "You can also comment articles pointing outdated content, typos and unclear text. You can't edit it." %}</li>
			<li>{% trans "For help, and question related to topics discussed in the articles please use our" %} <a href="/forum/">{% trans "forums" %}</a>.</li>
			<li>{% trans "You can also contact with the staff by email" %}: <a href="mailto:{{ email }}"><b>{{ email }}</b></a> {% trans "if you want to contribute complex articles, tutorials, or ask about anything related with the site." %}</li>
		</ul>
	</div>


{% endblock %}