{% extends "pages/body.html" %}
{% load cbc %}
{% load i18n %}
{% block header %}{{ page.title }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a>{% if page.crumb %} > {{ page.crumb|safe }}{% endif %}{% endblock %}

{% block content %}{{ page.text|cbc|safe }}
<ul class="newsbox">
	<li class="added">{{ page.date|date:"d.m.Y" }}</li>
	<li class="comment">
		{% if page.coment_topic %}
			<a href="/forum/topic/1/{{ page.coment_topic.id }}/">{% trans "Read comments" %}{% if page.comments_count %} ({{ page.comments_count }}){% endif %}</a>
		{% else %}
			<a href="?c=ok#c">{% trans "Comments" %}{% if page.comments_count %} ({{ page.comments_count }}){% endif %}</a>
		{% endif %}
	</li>
	<li class="aauthor">{{ page.author }}</li>
	{% if page.is_update %}<li class="update">{{ page.changes }}</li>{% endif %}
	{% if not show_comment %}<li><input type="button" value="{% trans "Add a Comment" %}" onclick="location.assign('/w/p/{{ page.slug }}/?c=ok');" /></li>{% endif %}
</ul>
{% if add_topic %}
	{% if show_comment %}
	<form method="post" action=".">
	<div class="postform">
		<div class="posthead">{% trans "Add comment" %}</div>
		{% if not user.is_authenticated %}
			<div class="leftpostform">
				<strong>{% trans "Nick" %}</strong>
			</div>
			<div class="rightpostform">
				{{ form.nick }}{% if form.nick.errors %}<br />*** {{ form.nick.errors|join:", " }}{% endif %}
			</div>
		{% endif %}
		<div class="leftpostform">
			<strong>{% trans "Comment" %}</strong>
		</div>
		<div class="rightpostform">
			<div id="emoticons"><a name="c"></a>
				<a href="#c" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-happy.png" alt="" /></a>
				<a href="#c" title=":("><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-unhappy.png" alt="" /></a>
				<a href="#c" title=":o"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-surprised.png" alt="" /></a>
				<a href="#c" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-tongue.png" alt="" /></a>
				<a href="#c" title=";)"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-wink.png" alt="" /></a>
				<a href="#c" title=":D"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-smile.png" alt="" /></a>
			</div>
			<textarea name="text" id="bbcode" rows="6" cols="60">{{ post_text }}</textarea>
			{% if form.text.errors %}<br />*** {{ form.text.errors|join:", " }}{% endif %}
		</div>
		<div class="leftpostform">
		</div>
		<div class="rightpostform comments">
			<input type="submit" value="{% trans "Add comment" %}" />
			{% if page.coment_topic %}
				<input type="button" value="{% trans "Read all comments" %}" onclick="location.assign('/forum/topic/1/{{ page.coment_topic.id }}/');" />
			{% endif %}
		</div>
	</div>
	</form>
	{% endif %}
{% else %}
	{% if user.is_authenticated %}<div class="box">{% trans "Comments have been disabled for this page" %}</div>{% endif %}
{% endif %}
{% endblock %}

{% block pagemenu %}
<li><a href="#c"><b>{% trans "Comments" %}</b> ({{ page.comments_count }})</a></li>
{% ifequal page.content_type "book" %}
	<li><a href="/w/r/{{ page.slug }}/">{% trans "RSS Feed for" %} {{ page.title }}</a></li>
	<li><a href="/w/n/{{ page.slug }}/">{% trans "Browse category news" %}</a></li>
{% else %}
	{% if page.current_book %}
		<li><a href="/w/r/{{ page.current_book }}/">{% trans "Category RSS Feed" %}</a></li>
		<li><a href="/w/n/{{ page.current_book }}/">{% trans "Browse category news" %}</a></li>
	{% else %}
		<li><a href="/w/n/">{% trans "Browse news" %}</a></li>
	{% endif %}
{% endifequal %}
{% if user.is_authenticated %}<li><a href="/w/submit/">{% trans "Add Content" %}</a></li>{% endif %}
{% if user.is_staff %}<li><a href="/admin/pages/content/{{ page.id }}/">{% trans "Admin" %}</a></li>{% endif %}
{% endblock %}

{% block meta %}
{% if page.coment_forum or page.place.coment_forum %}
	{% if show_comment %}
	<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/skins/simple/style.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/sets/bbcode/style.css" />
	<script type="text/javascript" src="/site_media/layout/markitup/jquery.markitup.pack.js"></script>
	<script type="text/javascript" src="/site_media/layout/markitup/sets/bbcode/set.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function()    {
	$('#bbcode').markItUp(myBbcodeSettings);
	
	$('#emoticons a').click(function() {
		emoticon = $(this).attr("title");
		$.markItUp( { replaceWith:emoticon } );
	});
	});
	</script>
	{% endif %}
{% endif %}
{% endblock %}
