{% extends "pages/body.html" %}
{% load i18n %}
{% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}

{% block content %}
<div id="right">
	<a href="/w/rss/all/" id="feed_rss">{% trans "RSS" %}</a>
	<h3 style="margin:0px;">{% trans "Whats new on" %} {{ siteName }} ?</h3>
		<div id="intro">{{ intro|safe }}</div>
		{% if feed %}{{ feed|safe }}{% endif %}
</div>
<div id="left">
{{ home_text|safe }}

{% if onsite %}
	<h3 style="margin-bottom:0px;">{% trans "Users online" %}</h3>
	{% for t in onsite %}
		<div class="user{% cycle 1,2 %}">{{ t.user }}</div>
	{% endfor %}
{% endif %}
</div>
{% endblock %}
