<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.google.com/schemas/sitemap/0.84">
{% for p in pages %}<url>
                <loc>http://www.{{ domain }}/w/p/{{ p.slug }}/</loc>
                <lastmod>{{ p.date }}</lastmod>
                <changefreq>monthly</changefreq>
                {% ifequal p.content_type "news" %}<priority>0.5</priority>{% endifequal %}{% ifequal p.content_type "page" %}<priority>0.5</priority>{% endifequal %}{% ifequal p.content_type "book" %}<priority>0.6</priority>{% endifequal %}
        </url>{% endfor %}
</urlset>