{% extends "pages/body.html" %}
{% load i18n %}
{% load cbc %}
{% block header %}{% trans "Submission Preview" %}{% endblock %}
{% block title %}{% trans "Submission Preview" %}{% endblock %}
{% block description %}{% trans "Submission Preview" %}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}

{% block content %}
<b>{{ s.title }}</b> ({{ s.author }})<br />
{{ preview|cbc|safe }}
<textarea rows="5" cols="80" style="width:100%;">{{ s.text }}</textarea>
<h4>{% trans "Add Content" %}</h4>
<iframe src="/admin/pages/content/add/"></iframe>
{% endblock %}

{% block pagemenu %}
<li><a href="/">{% trans "Main Page" %}</a></li>
<li><a href="/admin/">{% trans "Admin" %}</a></li>
<li><a href="/admin/pages/submission/{{ s.id }}/delete/">{% trans "Delete" %}</a></li>
{% endblock %}
