{% extends "pages/body.html" %}
{% load i18n %}
{% block header %}{% trans "Submit Content" %}{% endblock %}
{% block title %}{% trans "Submit Content" %}{% endblock %}
{% block description %}{% trans "Submit Content" %}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}

{% block content %}
{% trans "Use this form to submit content on this site. To format the text you can use simple markup called markdown or you can just enter plain text. Do not use HTML." %}
<br /><br />

<form method="post" action="./">
    
    <div class="postform" style="width:99%;">
        <div class="posthead">{% trans "Submit new content" %}</div>
        
        <div class="leftpostform">
		<strong>{% trans "Title" %}</strong>
	</div>
	<div class="rightpostform">	
	      {{ form.title }}{% if form.title.errors %}<br />*** {{ form.title.errors|join:", " }}{% endif %}
	</div>
        <div class="leftpostform">
		<strong>{% trans "Content" %}</strong>
	</div>
	<div class="rightpostform">
		<textarea name="text" id="markdown" rows="6" cols="60">{{ text }}</textarea>
		{% if form.text.errors %}<br />*** {{ form.text.errors|join:", " }}{% endif %}
	</div>
        <div class="leftpostform">
	</div>
	<div class="rightpostform">	
                <input type="submit" value="{% trans "Save" %}" />
	</div>
    </div>
    </form>

{% endblock %}

{% block pagemenu %}
<li><a href="/">{% trans "Main Page" %}</a></li>
{% endblock %}

{% block meta %}
	<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/skins/simple/style.css" />
	<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/sets/markdown/style.css" />
	<script type="text/javascript" src="/site_media/layout/markitup/jquery.markitup.pack.js"></script>
	<script type="text/javascript" src="/site_media/layout/markitup/sets/markdown/set.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function()    {
	$('#markdown').markItUp(myMarkdownSettings);
	});
	</script>
{% endblock %}
