textarea
{
width:100%;
}
.dadd
	{
	background-color: #B9FFBA;
	border: red solid 1px;
	size:13px;
	padding:3px;
	}
.ddelete
	{
	background-color: #B9FFBA;
	border:  red solid 1px;
	size:13px;
	padding:3px;
	}
.dreplace
	{
	background-color: #B9FFBA;
	border:  red solid 1px;
	size:13px;
	padding:3px;
	}
