{% load i18n %}
{% extends "myghtyboard/aeolus/body.html" %}
{% block content %}

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right" valign="bottom" width="23"><img src="/site_media/myghtyboard/aeolus/images/top_left.gif" alt="" border="0" height="36" width="23"></td><td align="left" background="/site_media/myghtyboard/aeolus/images/top_center.gif" valign="middle" width="100%"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td><img src="/site_media/myghtyboard/aeolus/images/spacer.gif" border="0" height="11" width="1"></td></tr><tr><td align="left" valign="center"><span class="cattitle">&nbsp;{% trans "Add Post" %}&nbsp;</span></td></tr></tbody></table></td><td align="left" valign="bottom" width="60"><img src="/site_media/myghtyboard/aeolus/images/top_right.gif" alt="" border="0" height="36" width="60"></td></tr></tbody></table><div id="cat_1" style="position: relative;"><table class="forumline" border="0" cellpadding="2" cellspacing="1" width="100%">
<tbody>
<tr>
	<td class="row4" align="center" height="30" valign="middle" width="30"><img src="/site_media/myghtyboard/aeolus/images/folder_big.gif" height="18" width="20"></td>
	<td style="background-color: rgb(220, 227, 233);" class="row1" width="100%"><span class="forumlink">

<form method="post" action=".">

<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"[code][/code]"'><img src="/site_media/wiki/editor/code.png" title="{% trans "Code" %}" alt="{% trans "Code" %}" border="0"></a> 
	<br>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':omg:' "><img src="/site_media/wiki/smilies/icon_eek.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':nice:' "><img src="/site_media/wiki/smilies/icon_biggrin.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':whatthe:' "><img src="/site_media/wiki/smilies/icon_neutral.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':evil:' "><img src="/site_media/wiki/smilies/icon_evil.gif" border="0"></a>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':twisted:' "><img src="/site_media/wiki/smilies/icon_twisted.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':?:' "><img src="/site_media/wiki/smilies/icon_question.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':idea:' "><img src="/site_media/wiki/smilies/icon_idea.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':arrow:' "><img src="/site_media/wiki/smilies/icon_arrow.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':grin:' "><img src="/site_media/wiki/smilies/icon_cheesygrin.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':cool:' "><img src="/site_media/wiki/smilies/icon_cool.gif" border="0"></a> 
	

<br>
<textarea rows="10" cols="100" name="post_text" id="id_text">{{ quote_text }}</textarea>
<center><input type="submit" value="{% trans "Add Post" %}" style="actiontable"></center>
</form>
<br><b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, img, li, ul, ol, center, sub, sup, cite, blockquote
</span><span class="gensmall">&nbsp; &nbsp;</span></td>
</tr>
</tbody></table></div><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td align="right" valign="top" width="10"><img src="/site_media/myghtyboard/aeolus/images/bottom_left.gif" alt="" border="0" height="10" width="10"></td><td background="/site_media/myghtyboard/aeolus/images/bottom_center.gif" width="100%"><img src="/site_media/myghtyboard/aeolus/images/spacer.gif" alt="" border="0" height="1" width="1"></td><td align="left" valign="top" width="10"><img src="/site_media/myghtyboard/aeolus/images/bottom_right.gif" alt="" border="0" height="10" width="10"></td></tr></tbody></table>
{% endblock %}
