{% extends "pages/body.html" %}
{% load i18n %}
{% block header %}{% trans "Code Search" %}{% endblock %}
{% block title %}{% trans "Code Search" %}{% endblock %}
{% block description %}{% trans "GData Powered Code Search" %}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/gcodesearch/">{% trans "Code Search" %}</a>{% endblock %}

{% block content %}
<h1 class="pageh">{% trans "GData Powered Code Search" %}</h1>
{% trans "Enter code phrase and click 'search'. This component uses Google Code Search and GData API." %}
<form action="." method="post">{{ form }}
<input type="submit" value="{% trans "Search" %}"></form>

{% if result %}
	<br />
	{% for i in result %}
	<h4 class="pageh"><a href="{{ i.link }}">{{ i.filename }}</a></h4>
		{% for c in i.code %}
			<b>{% trans "Line" %}  {{ c.0 }}</b><br />
			<div class="box">{{ c.1|safe }}</div>
		{% endfor %}
	{% endfor %}
{% endif %}
{% endblock %}