{% extends "pages/body.html" %}
{% load i18n %}
{% block header %}{% trans "Polls" %}{% endblock %}
{% block title %}{% trans "Polls" %}{% endblock %}
{% block description %}{% trans "Polls" %}{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}

{% block content %}

{% for j in object_list %}<div class="category"><h1><a href="/p/{{ j.id }}/">{{ j.question }}</a></h1></div>{% endfor %}

<br /><br />
{% if has_previous %}
	<a href="/p/?page={{ previous }}"><h2>{% trans "Previous Polls" %}</h2></a>
{% endif %}

{% if has_next %}
	<a href="/p/?page={{ next }}"><h2>{% trans "Next Polls" %}</h2></a>
{% endif %}
{% endblock %}
