{% load i18n %}
{% extends "wiki/punbb/body.html" %}
{% block content %}</div>
<br />
<h2><span>{% trans "User Profile" %}</span></h2>
<div class="blocktable">
	<div class="box">
	{% if current %}
	{% trans "- You can set pages as current" %}<br />
	{% else %}
	{% trans "- You can't set pages as current" %}<br />
	{% endif %}
	{% if add %}
	{% trans "- You can add pages" %}<br />
	{% else %}
	{% trans "- You can't add pages" %}<br />
	{% endif %}
	{% if edit %}
	{% trans "- You can edit pages" %}<br />
	{% else %}
	{% trans "- You can't edit pages" %}<br />
	{% endif %}<br />
	
	- <a href="/user/login/?log=out"><b>{% trans "Logout" %}</b></a><br />
	- <a href="/user/edit_profile/"><b>{% trans "Edit Profile" %}</b></a><br />
	- <a href="/user/userlist/"><b>{% trans "User List" %}</b></a><br />
	
	
	
		</div>
	</div>

{% endblock %}
