{% load i18n %}<!doctype html>
<html>
	<head>
		<title>{% block title %}MyghtyBoard Demo{% endblock %}</title>
		<meta name="Description" content="{% block description %}{{ site_desc }}{% endblock %}" />
		<meta name="Keywords" content="{% block keywords %}{{ site_keywords }}{% endblock %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/site_media/static/style_f2.css">
		<link rel="stylesheet" type="text/css" href="/site_media/static/print_style.css" media="print" />
		{% block meta %}{% endblock %}
		
	</head>
	<body lang="en" itemscope itemtype="http://schema.org/WebPage">
	    <div class="container primary">
		<div class="row">
                    <div class="twelve columns title">
			<header id="header" role="banner">
			    <h1>{% block header %}MyghtyBoard Demo{% endblock %}</h1>
			</header>
                    </div>
		    </div>
		    <div class="row">
		    <div class="twelve columns subnavigation">
			<nav role="navigation">
				<p itemprop="breadcrumb">{% block crumb %}<a href="/">{% trans "Home" %}</a>{% endblock %}</p>
			</nav>
		    </div>
                    </div><div class="row">
			    <div class="twelve columns content" id="article_page">
				<section role="main">
					<br />
					{% block content %}{% endblock %}
				</section>
				
			    </div>
			    
			    </div>
		</div>
</body>
</html>