{% load i18n %}
{% extends "myghtyboard/CrystalClear/body.html" %}
{% block content %}


<h3><span><a href="/forum/"><b>{% trans "Forum Index" %}</b></a></span></h3>
<h2><span>{% trans "Add Topic" %}</span></h2>

<form method="post" action="."><table width="100%" cellspacing="2" cellpadding="2">
<tr><td width="140"><p>
    <b>{% trans "Title" %}</b>:</td><td> {{ form.topic_name }}
    {% if form.topic_name.errors %}<br>*** {{ form.topic_name.errors|join:", " }}{% endif %}
</p></td></tr>
<tr><td width="140"><p>
 <b>{% trans "Text" %}</b>:</td><td>
 
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"[code][/code]"'><img src="/site_media/wiki/editor/code.png" title="{% trans "Code" %}" alt="{% trans "Code" %}" border="0"></a> 
	<br>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':omg:' "><img src="/site_media/wiki/smilies/icon_eek.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':nice:' "><img src="/site_media/wiki/smilies/icon_biggrin.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':whatthe:' "><img src="/site_media/wiki/smilies/icon_neutral.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':evil:' "><img src="/site_media/wiki/smilies/icon_evil.gif" border="0" /></a>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':twisted:' "><img src="/site_media/wiki/smilies/icon_twisted.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':?:' "><img src="/site_media/wiki/smilies/icon_question.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':idea:' "><img src="/site_media/wiki/smilies/icon_idea.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':arrow:' "><img src="/site_media/wiki/smilies/icon_arrow.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':grin:' "><img src="/site_media/wiki/smilies/icon_cheesygrin.gif" border="0" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':cool:' "><img src="/site_media/wiki/smilies/icon_cool.gif" border="0" /></a> 
	
<br>
 
 
 <textarea rows="10" cols="60" name="text" id="id_text"></textarea>
</p>
</td></tr>
<tr><td width="140"><p>
    <b>{% trans "Sticky" %}</b>:</td><td> {{ form.is_sticky }}
    {% if form.is_sticky.errors %}<br>*** {{ form.is_sticky.errors|join:", " }}{% endif %}
</p></td></tr>
{% if perms.is_staff %}
<tr><td width="140"><p>
    <b>{% trans "Global" %}</b>:</td><td> {{ form.is_global }}
    {% if form.is_global.errors %}<br>*** {{ form.is_global.errors|join:", " }}{% endif %}
</p></td></tr>
{% endif %}


</table>
<center><input type="submit" value="{% trans "Add Topic" %}" style="actiontable" /></center>
</form><br>
<br><b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, img, li, ul, ol, center, sub, sup, cite, blockquote
{% endblock %}
