{% load i18n %}
{% extends "myghtyboard/CrystalClear/body.html" %}
{% block content %}


{% if perms.is_authenticated %}
<p style="text-align:right;">
	<a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a> | <a href="/forum/mytopics/">{% trans "My Topics" %}</a> | <a href="/forum/myptopics/">{% trans "My Posts" %}</a>
</p>
{% endif %}
{% for cat in categories %}
<div class="blocktable">
	<h2><span>{{ cat.cat_name }}</span></h2>
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<thead>
				<tr>
					<th class="tcl" scope="col">{% trans "Forum" %}</th>
					<th class="tc2" scope="col">{% trans "Topics" %}</th>
					<th class="tc3" scope="col">{% trans "Posts" %}</th>
					<th class="tcr" scope="col">{% trans "Last Post" %}</th>
				</tr>
			</thead>
			<tbody>
	{% for forum in cat.forums %}
			<tr>
				<td class="tcl">
					<div class="intd">
						{% if forum.is_redirect %}
							<div style="float:left;"><img src="/site_media/myghtyboard/CrystalClear/stick.png" alt="" /></div>
						{% else %}
							<div class="icon"><div class="nosize"><!-- --></div></div>
						{% endif %}
						<div class="tclcon">
						{% if forum.is_redirect %}
							<h3><a href="{{ forum.forum_description }}">{{ forum.forum_name }}</a></h3>
						{% else %}
							<h3><a href="/forum/forum/{{ forum.id }}/">{{ forum.forum_name }}</a></h3>
							{{ forum.forum_description }}
						{% endif %}
						</div>
					</div>
				</td>
				<td class="tc2">{% if forum.is_redirect %}-{% else %}{{ forum.forum_topics }}{% endif %}</td>
				<td class="tc3">{% if forum.is_redirect %}-{% else %}{{ forum.forum_posts }}{% endif %}</td>
				<td class="tcr">{% if forum.is_redirect %}-{% else %}{{ forum.forum_lastpost }}{% endif %}</td>
			</tr>
	{% endfor %}
	
		</tbody>
				</table>
			</div>
		</div>
	</div>
	{% endfor %}
	<p style="text-align:right;">
	{% if perms.add_topic %}
		- {% trans "You can post new Topics" %}<br />
	{% else %}
		- {% trans "You can't post new Topics" %}<br />
	{% endif %}
	{% if perms.add_post %}
		- {% trans "You can post new Posts" %}<br />
	{% else %}
		- {% trans "You can't post new Posts" %}<br />
	{% endif %}
	{% if perms.is_staff %}
		- {% trans "You are a Moderator" %}<br />
	{% else %}
		-  {% trans "You aren't a moderator" %}<br />
	{% endif %}
	</p>
{% endblock %}
