{% load i18n %}
{% load fbc %}
{% extends "myghtyboard/CrystalClear/body.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/site_media/cbc/syntax/Styles/SyntaxHighlighter.css"></link>

<div class="linkst">
	<div class="inbox">
			<div style="text-align:center;">
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			<a href="/forum/topic/1/{{ topic_id }}/"><b>{% trans "First Page" %}</b></a> | 
			{% endifnotequal %}
			{% endifnotequal %}
			
			{% if has_previous %}
				<a href="/forum/topic/{{ previous }}/{{ topic_id }}/"><b>{% trans "Previous Page" %} </b></a>
			{% endif %}
			
			{% if has_next %}
			<a href="/forum/topic/{{ next }}/{{ topic_id }}/"><b> {% trans "Next Page" %}</b></a>
			{% endif %}
			
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			 | <a href="/forum/topic/{{ pages }}/{{ topic_id }}/"><b>{% trans "Last Page" %}</b></a>
			{% endifnotequal %}
			{% endifnotequal %}
			</div>
		</p>
		
	{% if opened %}
	<a href="/forum/add_post/{{ topic_id }}/"><b>{% trans "Add Post" %}</b></a>
	{% endif %}
</div>

	{% for i in object_list %}
	<div class="blockpost rowodd firstpost">
	<h2><span><a href="/forum/">{% trans "Forum Index" %}</a> >> <a href="/forum/forum/{{ forum_id }}/">{{ forum_name }}</a> >> <a href="/forum/topic/1/{{ topic_id }}">{{ topic }}</a></span></h2>
	<div class="box">
		<div class="inbox">
			<div class="postleft">
				<dl>
					<dt><strong><a href="/forum/show_profile/{{ i.post_author }}/">{{ i.post_author }}</a></strong></dt>
					<dd>{{ i.post_date }}</dd>
					{% if perms.is_staff %}
						<dd>{{ i.post_ip }} - {{ i.post_host }}</dd>
					{% endif %}
				</dl>
			</div>
			<div class="postright">
				<div class="postmsg">
					<p>{{ i.post_text|fbc }}</p>
					<br /><br />
				</div>
					<div class="postfootright">
					{% if perms.add_post %}
					{% if opened %}
						<a href="/forum/add_post/{{ topic_id }}/{{ i.id }}/">{% trans "Reply with quote" %}</a> |
					{% endif %}
					{% endif %}
					{% ifequal i.post_author current_user %}
					{% if opened %}
						{% ifnotequal i.post_author "AnonymousUser" %}
						<a href="/forum/edit_post/{{ i.id }}/">{% trans "Edit this post" %}</a> |
						{% endifnotequal %}
					{% endif %} 
					{% else %}
					{% if perms.is_staff %}
						<a href="/forum/edit_post/{{ i.id }}/">{% trans "Edit this post" %}</a> |
					{% endif %}
					{% endifequal %}
					{% if perms.is_staff %}
						<a href="/forum/delete_post/{{ i.id }}/{{ topic_id }}/" onclick="return confirm('{% trans "Delete This Post?" %}')">{% trans "Delete this post" %}</a>
					{% endif %}
					</div>

			</div>
			<div class="clearer"></div>
		</div>
	</div>
</div>
	
	{% endfor %}
	{% if perms.add_post %}
		{% if opened %}
		<p style="text-align:right;"><a href="/forum/add_post/{{ topic_id }}/"><b>{% trans "Add Post" %}</b></a></p>
		{% endif %}
	{% endif %}
			<div style="text-align:center;">
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			<a href="/forum/topic/1/{{ topic_id }}/"><b>{% trans "First Page" %}</b></a> | 
			{% endifnotequal %}
			{% endifnotequal %}
			
			{% if has_previous %}
				<a href="/forum/topic/{{ previous }}/{{ topic_id }}/"><b>{% trans "Previous Page" %} </b></a>
			{% endif %}
			
			{% if has_next %}
			<a href="/forum/topic/{{ next }}/{{ topic_id }}/"><b> {% trans "Next Page" %}</b></a>
			{% endif %}
			
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			 | <a href="/forum/topic/{{ pages }}/{{ topic_id }}/"><b>{% trans "Last Page" %}</b></a>
			{% endifnotequal %}
			{% endifnotequal %}
			</div>

	<p style="text-align:right;">
		{% if perms.add_topic %}
			- {% trans "You can post new Topics" %}<br />
		{% else %}
			- {% trans "You can't post new Topics" %}<br />
		{% endif %}
		{% if perms.add_post %}
			{% if opened %}
				- {% trans "You can post new Posts" %}<br />
			{% else %}
				- {% trans "You can't post new Posts" %}<br />
			{% endif %}
		{% else %}
			- {% trans "You can't post new Posts" %}<br />
		{% endif %}
		{% if perms.is_staff %}
			- {% trans "You can moderate this Topic" %}<br />
		{% else %}
			-  {% trans "You can't moderate this Topic" %}<br />
		{% endif %}
	</p>
{% if perms.add_post %}
{% if opened %}<br /><br />
<h2><span>{% trans "Quick Post" %}</span></h2>
<form method="post" action="/forum/add_post/{{ topic_id }}/">

<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<b></b>"'><img src="/site_media/wiki/editor/bold.png" title="{% trans "Bold" %}" alt="{% trans "Bold" %}" border="0"></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<i></i>"'><img src="/site_media/wiki/editor/italic.png" title="{% trans "Italic" %}" alt="{% trans "Italic" %}" border="0"></a> 
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<u></u>"'><img src="/site_media/wiki/editor/underline.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" border="0"></a> 
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<img src=\"URL\" alt=\"\" />"'><img src="/site_media/wiki/editor/image.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" border="0"></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<blockquote></blockquote>"'><img src="/site_media/wiki/editor/block.png" title="{% trans "Blockquote" %}" alt="{% trans "Blockquote" %}" border="0"></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"[code]{% trans "Code Here" %}[/code]"'><img src="/site_media/wiki/editor/code.png" title="{% trans "Code" %}" alt="{% trans "Code" %}" border="0"></a> 
	<br>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':omg:' "><img src="/site_media/wiki/smilies/icon_eek.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':nice:' "><img src="/site_media/wiki/smilies/icon_biggrin.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':whatthe:' "><img src="/site_media/wiki/smilies/icon_neutral.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':evil:' "><img src="/site_media/wiki/smilies/icon_evil.gif" border="0"></a>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':twisted:' "><img src="/site_media/wiki/smilies/icon_twisted.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':?:' "><img src="/site_media/wiki/smilies/icon_question.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':idea:' "><img src="/site_media/wiki/smilies/icon_idea.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':arrow:' "><img src="/site_media/wiki/smilies/icon_arrow.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':grin:' "><img src="/site_media/wiki/smilies/icon_cheesygrin.gif" border="0"></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':cool:' "><img src="/site_media/wiki/smilies/icon_cool.gif" border="0"></a> 
	

<br>
<textarea rows="10" cols="100" name="post_text" id="id_text">{{ quote_text }}</textarea>
<center><input type="submit" value="{% trans "Add Post" %}" style="actiontable"></center>
</form>
<br><b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, img, li, ul, ol, center, sub, sup, cite, blockquote<br /><br />
{% endif %}{% endif %}

<script type="text/javascript" src="/site_media/cbc/syntax/Scripts/shCore.js"></script>
<script type="text/javascript" src="/site_media/cbc/syntax/Scripts/shBrushXml.js"></script>
<script type="text/javascript">dp.SyntaxHighlighter.HighlightAll('code');</script>

{% endblock %}