{% load i18n %}
{% load fbc %}
{% extends "myghtyboard/CrystalClear/body.html" %}
{% block content %}
<h2><span>{% trans "User Profile" %}</span></h2>
<form action="." method="post">
<div class="blocktable">
	<div class="box">
		<div class="inbox">
			<table cellspacing="0">
			<tbody>
<tr>
	<td class="tc3">
		<div class="intd">
			<div class="tclcon">
				<h3>{% trans "Public Email" %}</h3>
			</div>
		</div>
	</td>
	<td class="tc2" size="75%" style="width:25%;"><input type="text" size="40" name="email" value="{{ profile.email }}" /></td>
</tr>
<tr>
	<td class="tc3">
		<div class="intd">
			<div class="tclcon">
				<h3>{% trans "Avatar" %}</h3>
			</div>
		</div>
	</td>
	<td class="tc2"><select id="avatar" name="avatar" onchange="document.getElementById('show_avatar').innerHTML='<img src=/site_media/images/avatars/' + document.getElementById('avatar').value + ' />'">
	{% if profile.avatar %}
	<option>{{ profile.avatar }}</option>
	{% endif %}
	{% for a in avatars %}
	<option>{{ a }}</option>
	{% endfor %}
	</select>
	<div id="show_avatar">{% if profile.avatar %}<img src="/site_media/images/avatars/{{ profile.avatar }}" alt="" />{% endif %}</div>
	</td>
</tr>
<tr>
	<td class="tc3">
		<div class="intd">
			<div class="tclcon">
				<h3>{% trans "Theme" %}</h3>
			</div>
		</div>
	</td>
	<td class="tc2"><!-- <input type="text" size="40" name="theme" value="{{ profile.theme }}" /> --></td>
</tr>
<tr>
	<td class="tc3">
		<div class="intd">
			<div class="tclcon">
				<h3>{% trans "Signature" %}</h3>
			</div>
		</div>
	</td>
	<td class="tc2"><textarea name="signature" rows="5" cols="60">{{ profile.signature }}</textarea>
	<br /><b>{% trans "Allowed HTML Tags" %}</b>: br, b, i, u, a</td></td>
</tr>
<tr>
	<td class="tc3">
		<div class="intd">
			<div class="tclcon">
				<h3>{% trans "Contacts" %}</h3>
			</div>
		</div>
	</td>
	<td class="tc2"><textarea name="contacts" rows="5" cols="60">{{ profile.contacts }}</textarea>
	<br /><b>{% trans "Allowed HTML Tags" %}</b>: br, b, i, u, a</td>
</tr>

</tbody>
				</table>
			</div>
		</div>
	</div>

<div style="text-align:center;"><input type="submit" value="{% trans "Save Changes" %}" /><br /><br />
<input type="button" value="{% trans "Log Out" %}" onclick="location.assign('/forum/user/?log=out');" /></div>
</form>

{% endblock %}
