{% load i18n %}
{% extends "wiki/punbb/body.html" %}
{% block content %}

{% if object_list %}
<h2>{% trans "List of news keywords" %}</h2>
{% trans "Click on a keyword URL to see news for that keyword" %}
<br /><br />
{% for k in object_list %}
-- <a href="/news/k/{{ k.id }}/">{{ k.name }}</a> - [<a href="/news/krss/latestnewsbykeyword/{{ k.id }}/">RSS</a>]<br />
{% endfor %}

<br />
{% if has_previous %}
	<div style="text-align:center;"><a href="/news/keywords/?page={{ previous }}"><b>{% trans "Previous" %}</b></a></div>
{% endif %}
{% if has_next %}
	<div style="text-align:center;"><a href="/news/keywords/?page={{ next }}"><b>{% trans "Next" %}</b></a></div>
{% endif %}

{% else %}
{% trans "No Keywords" %}
{% endif %}

{% endblock %}


{% block leftmenu %}
<a href="/news/">{% trans "News Main Page" %}</a> | <a href="/news/keywords/">{% trans "News Keywords" %}</a>
{% endblock %}