{% load i18n %}
{% extends "wiki/punbb/body.html" %}
{% block title %}{{ object.news_title }}{% endblock %}
{% block content %}

{% if object %}
<h2>{{ object.news_title }}</h2>
<p>{{ object.news_text }}</p>
<p>{{ object.news_more }}</p>
<b>{% trans "Added" %}</b>: {{ object.news_date }}<br /><br />
{% else %}
{% trans "No news" %}
{% endif %}

{% endblock %}

{% block leftmenu %}
<a href="/news/">{% trans "News Main Page" %}</a> | <a href="/news/keywords/">{% trans "News Keywords" %}</a>
{% endblock %}