{% load i18n %}
{% load fbc %}
{% extends "wiki/body.html" %}
{% block content %}
<h2>{% trans "Add Post" %}</h2>
<form method="post" action=".">
<div class="content">
          <table>
            <tr class="rowB">
              <td>{% trans "Text" %}</td>
              <td>
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<b></b>"'><img src="/site_media/wiki/editor/bold.png" title="{% trans "Bold" %}" alt="{% trans "Bold" %}" /></a>
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<i></i>"'><img src="/site_media/wiki/editor/italic.png" title="{% trans "Italic" %}" alt="{% trans "Italic" %}" /></a> 
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<u></u>"'><img src="/site_media/wiki/editor/underline.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" /></a> 
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<img src=\"URL\" alt=\"\" />"'><img src="/site_media/wiki/editor/image.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" /></a>
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<blockquote></blockquote>"'><img src="/site_media/wiki/editor/block.png" title="{% trans "Blockquote" %}" alt="{% trans "Blockquote" %}" /></a>
			<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"[code]{% trans "Code Here" %}[/code]"'><img src="/site_media/wiki/editor/code.png" title="{% trans "Code" %}" alt="{% trans "Code" %}" /></a> 
				<br />
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':omg:' "><img src="/site_media/wiki/smilies/icon_eek.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':nice:' "><img src="/site_media/wiki/smilies/icon_biggrin.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':whatthe:' "><img src="/site_media/wiki/smilies/icon_neutral.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':evil:' "><img src="/site_media/wiki/smilies/icon_evil.gif" alt="" /></a>
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':twisted:' "><img src="/site_media/wiki/smilies/icon_twisted.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':?:' "><img src="/site_media/wiki/smilies/icon_question.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':idea:' "><img src="/site_media/wiki/smilies/icon_idea.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':arrow:' "><img src="/site_media/wiki/smilies/icon_arrow.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':grin:' "><img src="/site_media/wiki/smilies/icon_cheesygrin.gif" alt="" /></a> 
				<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':cool:' "><img src="/site_media/wiki/smilies/icon_cool.gif" alt="" /></a> 
			<br />
			<textarea rows="10" cols="60" name="post_text" id="id_text">{% if post_text %}{{ post_text }}{% else %}{{ quote_text }}{% endif %}</textarea>
              </td>
            </tr>
          </table>
</div>

<div class="box"><br />
<div style="text-align:center;"><input type="submit" value="{% trans "Add Post" %}" style="actiontable"></div>
</form>
<br><b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, img, li, ul, ol, center, sub, sup, cite, blockquote<br /><br /></div><br />

<h2>{% trans "Last 10 posts from topic" %}</h2>
{% if lastpost %}
<div class="content">
          <table>
            <tr>
              <th class="first"><strong>{% trans "Post" %}</strong></th>
              <th width="20%"><strong>{% trans "Author" %}</strong></th>
            </tr>
	{% for i in lastpost %}
	<tr class="{% cycle rowA,rowB %}"> 
	<td class="first" style="text-align:justify;">{{ i.post_text|fbc }} ({{ i.post_date|truncatewords:"1" }})</td>
	<td>
		<div class="box"><a href="/user/show_profile/{{ i.post_author }}/">{{ i.post_author }}</a></div>
	</td>
</tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
