{% extends "pages/body.html" %}
{% load i18n %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a> > <a href="/forum/forum/{{ forum.id }}/">{{ forum.name }}</a>{% endblock %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/sets/bbcode/style.css" />
<script type="text/javascript" src="/site_media/layout/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/site_media/layout/markitup/sets/bbcode/set.js"></script>

<script language="javascript">
$(document).ready(function()    {
    $('#bbcode').markItUp(myBbcodeSettings);

    $('#emoticons a').click(function() {
        emoticon = $(this).attr("title");
        $.markItUp( { replaceWith:emoticon } );
    });
});
</script>
{% endblock %}

{% block content %}



<form method="post" action=".">
<div class="postform">
        <div class="posthead">{% trans "Add new topic" %}</div>
        
        <div class="leftpostform">
		<strong>{% trans "Title" %}</strong>
	</div>
	<div class="rightpostform">	
	      {{ form.name }}{% if form.name.errors %}<br />*** {{ form.name.errors|join:", " }}{% endif %}
	</div>
          {% if pr %}  
          <div class="leftpostform">
                  <strong>{% trans "Prefix" %}</strong>
          </div>
          <div class="rightpostform">	
                 {% for i in pr %}
                    <input type="checkbox" name="prefix[]" value="{{ i.id }}" style="width:auto;" /> {{ i.name }} 
                 {% endfor %}
          </div>
          {% endif %}

        <div class="leftpostform">
		<strong>{% trans "Content" %}</strong>
	</div>
	<div class="rightpostform">
		<div id="emoticons">
			<a href="#" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-happy.png" /></a>
			<a href="#" title=":("><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-unhappy.png" /></a>
			<a href="#" title=":o"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-surprised.png" /></a>
			<a href="#" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-tongue.png" /></a>
			<a href="#" title=";)"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-wink.png" /></a>
			<a href="#" title=":D"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-smile.png" /></a>
		</div>
	      <textarea name="text" id="bbcode" rows="6">{{ post_text }}</textarea>
                    {% if form.text.errors %}<br />*** {{ form.text.errors|join:", " }}{% endif %}
	</div>
        {% if perms.is_staff %}
            <div class="leftpostform"><strong>{% trans "Options" %}</strong>
            </div>
            <div class="rightpostform" id="checkboxes">	
                   {{ form.is_sticky }} {% trans "Sticky" %}{% if form.is_sticky.errors %}<br />*** {{ form.is_sticky.errors|join:", " }}{% endif %}<br />
                   {{ form.is_global }} {% trans "Global" %}{% if form.is_global.errors %}<br />*** {{ form.is_global.errors|join:", " }}{% endif %}
            </div>
        {% endif %}
        <div class="leftpostform">
	</div>
	<div class="rightpostform">	
                <input type="submit" value="{% trans "Add topic" %}" />
	</div>
    </div>

</form>
{% endblock %}
{% block pagemenu %}
<li><a href="/forum/">{% trans "Back to Forum" %}</a></li>
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% endblock %}