{% extends "pages/body.html" %}
{% load i18n %}
{% load fbc %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a> > <a href="/forum/forum/{{ forum.id }}/">{{ forum.forum_name }}</a> > <a href="/forum/topic/{{ topic.topic_last_pagination_page }}/{{ topic.id }}/">{{ topic.topic_name }}</a>{% endblock %}
{% block content %}
<form method="post" action="/forum/add_post/{{ topic.id }}/">
<div class="postform">
        <div class="posthead">{% trans "Add new post" %}</div>
        <div class="leftpostform">
		<strong>{% trans "Content" %}</strong>
	</div>
	<div class="rightpostform">	
	      <textarea name="post_text" id="id_text" onkeyup="fit_textarea(this);" rows="6">{% if post_text %}{{ post_text }}{% else %}{{ quote_text }}{% endif %}</textarea>
	</div>
        <div class="leftpostform">
	</div>
	<div class="rightpostform">	
                <input type="submit" value="{% trans "Add post" %}" />
	</div>
    </div>
</form>


<h2>{% trans "Last 10 posts from topic" %}</h2>
{% if lastpost %}

{% for i in lastpost %}
	<div class="post">
		    <div class="posthead">{{ i.post_date|date:"d.m.Y" }}</div>
		    <div class="leftpost">
			      <strong>{{ i.post_author}}</strong>
		    </div>
		    <div class="rightpost">
			      {{ i.post_text|fbc|safe|urlizetrunc:"60" }}
		    </div>
	</div>
	<br />
	{% endfor %}

{% endif %}
{% endblock %}

{% block pagemenu %}
<li><a href="/forum/">{% trans "Back to Forum" %}</a></li>
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% endblock %}