{% extends "pages/body.html" %}
{% load i18n %}

{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a>{% endblock %}
{% block pagemenu %}
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% endblock %}

{% block content %}
{% for cat in categories %}
<div class="content">
          <table>
            <tr>
            <th class="first" style="width:20px;"></th>
              <th class="first"><strong>{{ cat.cat_name }}</strong></th>
              <th style="width:30px;"><strong>{% trans "Topics" %}</strong></th>
              <th style="width:30px;"><strong>{% trans "Posts" %}</strong></th>
              <th style="width:200px;"><strong>{% trans "Last Post" %}</strong></th>
            </tr>
            {% for forum in cat.forums %}
            <tr class="small">
              <td class="first"><img src="/site_media/layout/forum/normal.png" alt="*" /></td>
              <td style="text-align:left;"><a href="/forum/forum/{{ forum.id }}/"><b>{{ forum.forum_name }}</b></a><br />{{ forum.forum_description }}</td>
              <td>{% if forum.is_redirect %}-{% else %}{{ forum.forum_topics }}{% endif %}</td>
              <td>{% if forum.is_redirect %}-{% else %}{{ forum.forum_posts }}{% endif %}</td>
              <td>{% if forum.is_redirect %}-{% else %}{{ forum.forum_lastpost|safe }}{% endif %}</td>
            </tr>
	    {% endfor %}
          </table>
</div><br />
	{% endfor %}
{% endblock %}
