{% extends "pages/body.html" %}
{% load i18n %}
{% load fbc %}
{% block meta %}<link rel="stylesheet" href="/site_media/layout/forum.css" type="text/css" />{% endblock %}

{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a> > <a href="/forum/forum/{{ forum.id }}/">{{ forum.name }}</a> > <a href="/forum/topic/{{ topic.last_pagination_page }}/{{ topic.id }}/">{{ topic.name }}</a>{% endblock %}

{% block content %}
<form method="post" action="/forum/edit_post/{{ post_id }}/">
<div class="postform">
        <div class="posthead">{% trans "Edit post" %}</div>
        <div class="leftpostform">
		<strong>{% trans "Content" %}</strong>
	</div>
	<div class="rightpostform">
		<a name="c"></a>
	      <textarea name="text" rows="6" cols="60">{{ text }}</textarea>
                    {% if form.text.errors %}<br />*** {{ form.text.errors|join:", " }}{% endif %}
                    <div><b>{% trans "Available Tags" %}</b>: [b], [u], [i], [code]. [python], [php], [url], [img], [quote]</div>
	</div>
        <div class="leftpostform">
	</div>
	<div class="rightpostform">	
                <input type="submit" value="{% trans "Edit post" %}" />
	</div>
    </div>
</form>

{% endblock %}

{% block pagemenu %}
<li><a href="/forum/">{% trans "Back to Forum" %}</a></li>
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% endblock %}