{% extends "pages/body.html" %}
{% load i18n %}
{% block meta %}<link rel="stylesheet" href="/site_media/layout/forum.css" type="text/css" />{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a>{% endblock %}
{% block content %}
          <table>
            <tr>
              <th style="width:20px;"></th>
              <th>{% trans "Topic" %}</th>
              <th style="width:90px;">{% trans "Author" %}</th>
              <th style="width:15px;">{% trans "Posts" %}</th>
              <th style="width:150px;">{% trans "Last Post" %}</th>
            </tr>
            {% for topic in topics%}
            <tr class="small">
           <td>
            {% if topic.is_locked %}
                    <img src="/site_media/layout/forum/lock.png" alt="*" />
            {% else %}
                    {% if topic.is_sticky %}
                            <img src="/site_media/layout/forum/stick.png" alt="*" />
                    {% else %}
                            {% if topic.is_global %}
                                    <img src="/site_media/layout/forum/glob.png" alt="*" />
                            {% else %}
                                    <img src="/site_media/layout/forum/normal.png" alt="*" />
                            {% endif%}
                    {% endif%}
            {% endif %}</td>
                          <td style="text-align:left;"><a href="/forum/topic/{{ topic.last_pagination_page }}/{{ topic.id }}/">{{ topic.name }}</a></td>
                          <td>{{ topic.author }}</td>
                          <td>{{ topic.posts }}</td>
                          <td>{{ topic.lastposter }}, {{topic.modification_date|date:"d.m.Y" }}</td>
            </tr>
	    {% endfor %}
          </table>
{% endblock %}
{% block pagemenu %}
<li><a href="/forum/">{% trans "Back to Forum" %}</a></li>
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% endblock %}