{% load i18n %}
{% load fbc %}
{% extends "rcs/body.html" %}
{% block title %}{{ forum_name }} - {{ topic }}{% endblock %}
{% block header %}{{ forum_name }} - {{ topic }}{% endblock %}

{% block leftmenu %}{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			<a href="/forum/topic/1/{{ topic_id }}/">{% trans "First Page" %}</a> | 
			{% endifnotequal %}
			{% endifnotequal %}
			
			{% if has_previous %}
				<a href="/forum/topic/{{ previous }}/{{ topic_id }}/">{% trans "Previous Page" %} </a>
			{% endif %}
			
			{% if has_next %}
			<a href="/forum/topic/{{ next }}/{{ topic_id }}/"> {% trans "Next Page" %}</a>
			{% endif %}
			
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			 | <a href="/forum/topic/{{ pages }}/{{ topic_id }}/">{% trans "Last Page" %}</a>
			{% endifnotequal %}
			{% endifnotequal %}
			{% if opened %}
	 | <a href="/forum/add_post/{{ topic_id }}/">{% trans "Add Post" %}</a>
	{% endif %}
{% endblock %}

{% block content %}

<h2><a href="/forum/">{% trans "Forum Index" %}</a> >> <a href="/forum/forum/{{ forum_id }}/">{{ forum_name }}</a> >> <a href="/forum/topic/1/{{ topic_id }}">{{ topic }}</a></h2>
<div class="content">
          <table>
            <tr>
              <th class="first"><strong>{% trans "Post" %}</strong></th>
              <th width="20%"><strong>{% trans "Author" %}</strong></th>
            </tr>
	{% for i in object_list %}
	<tr class="{% cycle rowA,rowB %}"> 
	<td class="first" style="text-align:justify;">{{ i.post_text|fbc|urlizetrunc:"60" }} ({{ i.post_date|truncatewords:"1" }})<br />
	{% if perms.add_post %}
		{% if opened %}
			<a href="/forum/add_post/{{ topic_id }}/{{ i.id }}/">{% trans "Reply with quote" %}</a> |
		{% endif %}
		{% endif %}
		{% ifequal i.post_author current_user %}
		{% if opened %}
			{% ifnotequal i.post_author "AnonymousUser" %}
				<a href="/forum/edit_post/{{ i.id }}/">{% trans "Edit this post" %}</a> |
			{% endifnotequal %}
		{% endif %} 
		{% else %}
		{% if perms.is_staff %}
			<a href="/forum/edit_post/{{ i.id }}/">{% trans "Edit this post" %}</a> |
		{% endif %}
		{% endifequal %}
		{% if perms.is_staff %}
			<a href="/forum/delete_post/{{ i.id }}/{{ topic_id }}/" onclick="return confirm('{% trans "Delete This Post?" %}')">{% trans "Delete this post" %}</a>
		{% endif %}
	</td>
	<td>
		<div class="box"><a href="/user/show_profile/{{ i.post_author }}/">{{ i.post_author }} {% if perms.is_staff %}({{ i.post_ip }}){% endif %}</a></div>
		<a href="/user/show_profile/{{ i.post_author }}/">{% trans "User Profile" %}</a><br />
		<a href="/user/pmessage/{{ i.post_author }}/">{% trans "Send Message" %}</a>
	</td>
</tr>
{% endfor %}
</table>
</div>


	<div class="box">
	{% if perms.add_post %}
		{% if opened %}
		<p style="text-align:right;"><a href="/forum/add_post/{{ topic_id }}/"><b>{% trans "Add Post" %}</b></a></p>
		{% endif %}
	{% endif %}

			<div style="text-align:center;">
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			<a href="/forum/topic/1/{{ topic_id }}/"><b>{% trans "First Page" %}</b></a> | 
			{% endifnotequal %}
			{% endifnotequal %}
			
			{% if has_previous %}
				<a href="/forum/topic/{{ previous }}/{{ topic_id }}/"><b>{% trans "Previous Page" %} </b></a>
			{% endif %}
			
			{% if has_next %}
			<a href="/forum/topic/{{ next }}/{{ topic_id }}/"><b> {% trans "Next Page" %}</b></a>
			{% endif %}
			
			{% ifnotequal pages 0 %}
			{% ifnotequal pages 1 %}
			 | <a href="/forum/topic/{{ pages }}/{{ topic_id }}/"><b>{% trans "Last Page" %}</b></a>
			{% endifnotequal %}
			{% endifnotequal %}
			</div>

	<p style="text-align:right;">
		{% if perms.add_topic %}
			- {% trans "You can post new Topics" %}<br />
		{% else %}
			- {% trans "You can't post new Topics" %}<br />
		{% endif %}
		{% if perms.add_post %}
			{% if opened %}
				- {% trans "You can post new Posts" %}<br />
			{% else %}
				- {% trans "You can't post new Posts" %}<br />
			{% endif %}
		{% else %}
			- {% trans "You can't post new Posts" %}<br />
		{% endif %}
		{% if perms.is_staff %}
			- {% trans "You can moderate this Topic" %}<br />
		{% else %}
			-  {% trans "You can't moderate this Topic" %}<br />
		{% endif %}
	</p>
	</div>
{% if perms.add_post %}
{% if opened %}<br /><br />
<h2>{% trans "Quick Post" %}</h2>
<div class="box"><div style="text-align:center;"><form method="post" action="/forum/add_post/{{ topic_id }}/">
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<b></b>"'><img src="/site_media/wiki/editor/bold.png" title="{% trans "Bold" %}" alt="{% trans "Bold" %}" /></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<i></i>"'><img src="/site_media/wiki/editor/italic.png" title="{% trans "Italic" %}" alt="{% trans "Italic" %}" /></a> 
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<u></u>"'><img src="/site_media/wiki/editor/underline.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" /></a> 
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<img src=\"URL\" alt=\"\" />"'><img src="/site_media/wiki/editor/image.png" title="{% trans "Underline" %}" alt="{% trans "Underline" %}" /></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"<blockquote></blockquote>"'><img src="/site_media/wiki/editor/block.png" title="{% trans "Blockquote" %}" alt="{% trans "Blockquote" %}" /></a>
<a onclick='document.getElementById("id_text").value=document.getElementById("id_text").value+"[code]{% trans "Code Here" %}[/code]"'><img src="/site_media/wiki/editor/code.png" title="{% trans "Code" %}" alt="{% trans "Code" %}" /></a> 
	<br />
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':omg:' "><img src="/site_media/wiki/smilies/icon_eek.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':nice:' "><img src="/site_media/wiki/smilies/icon_biggrin.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':whatthe:' "><img src="/site_media/wiki/smilies/icon_neutral.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':evil:' "><img src="/site_media/wiki/smilies/icon_evil.gif" alt="" /></a>
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':twisted:' "><img src="/site_media/wiki/smilies/icon_twisted.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':?:' "><img src="/site_media/wiki/smilies/icon_question.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':idea:' "><img src="/site_media/wiki/smilies/icon_idea.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':arrow:' "><img src="/site_media/wiki/smilies/icon_arrow.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':grin:' "><img src="/site_media/wiki/smilies/icon_cheesygrin.gif" alt="" /></a> 
	<a onclick="document.getElementById('id_text').value=document.getElementById('id_text').value+ ':cool:' "><img src="/site_media/wiki/smilies/icon_cool.gif" alt="" /></a> 
<br />
<textarea rows="7" cols="70" name="post_text" id="id_text"></textarea>
</div></div>
<div class="box"><br /><div style="text-align:center;"><input type="submit" value="{% trans "Add Post" %}" style="actiontable"></div>
</form>
<br /><b>{% trans "Allowed HTML Tags" %}</b>: b, a, i, br, p, u, img, li, ul, ol, center, sub, sup, cite, blockquote<br /><br /></div>

{% endif %}{% endif %}

<style>.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .c-Special { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BB4444 } /* Literal.String */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: #AA22FF } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00A000 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #B8860B } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.String.Char */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */</style>
{% endblock %}