{% extends "pages/body.html" %}
{% load i18n %}
{% load pyif %}

{% block title %}{% trans "Topics from" %} "{{ forum.name }}"{% endblock %}
{% block header %}{% trans "Topics from" %} "{{ forum.name }}"{% endblock %}
{% block crumb %}<a href="/">{% trans "Home" %}</a> > <a href="/forum/">{% trans "Forum Index" %}</a> > <a href="/forum/forum/{{ forum.id }}/">{{ forum.name }}</a>{% endblock %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/site_media/layout/markitup/sets/bbcode/style.css" />
<script type="text/javascript" src="/site_media/layout/markitup/jquery.markitup.pack.js"></script>
<script type="text/javascript" src="/site_media/layout/markitup/sets/bbcode/set.js"></script>

<script type="text/javascript">
$(document).ready(function()    {
    $('#bbcode').markItUp(myBbcodeSettings);

    $('#emoticons a').click(function() {
        emoticon = $(this).attr("title");
        $.markItUp( { replaceWith:emoticon } );
    });
});
</script>
{% endblock %}

{% block pagemenu %}
<li><a href="/forum/add_topic/{{ forum.id }}/">{% trans "Add New Topic" %}</a></li>
<li><a href="/forum/">{% trans "Back to Forum" %}</a></li>
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>{% endblock %}

{% block content %}
<div class="content">
          <table>
            <tr>
              <th class="first" style="width:20px;"></th>
              <th style="width:70%;"><strong>{% trans "Topic" %}</strong></th>
              <th style="width:15px;"><strong>{% trans "Posts" %}</strong></th>
              <th style="width:15px;"><strong>{% trans "Author" %}</strong></th>
              <th style="width:130px;"><strong>{% trans "Last Post" %}</strong></th>
            </tr>
            {% if pr %}
                <tr class="small_prefixes">
                <td class="first"></td>
                <td>
                <strong>{% trans "Filter topics" %}: </strong>
                <form action="./" method="post">
                {% for i in pr %}
                    <input type="checkbox" name="prefix[]" value="{{ i.id }}" style="width:auto;"{% pyif i in prefixes %}checked="checked"{% endif %} /> {{ i.name }}
                {% endfor %}
                <input type="submit" value="{% trans "Filter" %}" id="prefixes_submit" />
                <input type="button" value="{% trans "Clear" %}" id="prefixes_submit" onclick="location.assign('/forum/forum/{{ forum.id }}/');" />
                </form>
                </td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            {% endif %}
           {% for topic in object_list %}
            <tr {% if topic.is_solved %}class="small_solved"{% else %}class="small"{% endif %}>
            <td class="first">
            {% if topic.is_locked %}
                    <img src="/site_media/layout/forum/lock.png" alt="*" />
            {% else %}
                    {% if topic.is_sticky %}
                            <img src="/site_media/layout/forum/stick.png" alt="*" />
                    {% else %}
                            {% if topic.is_global %}
                                    <img src="/site_media/layout/forum/glob.png" alt="*" />
                            {% else %}
                                    {% pyif user.get_profile.last_visit < topic.modification_date %}
                                        <img src="/site_media/layout/forum/new.png" alt="*" />
                                    {% else %}
                                        <img src="/site_media/layout/forum/normal.png" alt="*" />
                                    {% endif %}
                            {% endif%}
                    {% endif%}
            {% endif %}</td>
                          <td style="text-align:left;">
                                {% if topic.is_solved %}[{% trans "Solved" %}] {% endif %}<a href="/forum/topic/{{ topic.last_pagination_page }}/{{ topic.id }}/{% pyif user.get_profile.last_visit < topic.modification_date %}#new{% endif %}"><strong>{% if forum.use_prefixes %}{{ topic.prefixes }} {% endif %}{{ topic.name }}</strong></a>
                                {% if user.is_authenticated %}<p class="toptions">
                                    {% pyif perms.is_staff or topic.author == current_user %}
                                        {% if topic.is_solved %}
                                                <a href="/forum/topic/unsolve/{{ topic.id }}/{{ forum.id }}/" class="unsolve">{% trans "Unsolve Topic" %}</a>
                                            {% else %}
                                                <a href="/forum/topic/solve/{{ topic.id }}/{{ forum.id }}/"  class="solve">{% trans "Mark as solved" %}</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if perms.is_staff %}
                                        [<a href="/forum/delete_topic/{{ topic.id }}/{{ forum.id }}/" onclick="return confirm('{% trans "Delete this Topic and all Posts?" %}')">{% trans "Delete" %}</a>]
                                        {% if topic.is_locked %}
                                                [<a href="/forum/open_topic/{{ topic.id }}/{{ forum.id }}/" onclick="return confirm('{% trans "Open This Topic?" %}')">{% trans "Unlock" %}</a>]
                                        {% else %}
                                                [<a href="/forum/close_topic/{{ topic.id }}/{{ forum.id }}/" onclick="return confirm('{% trans "Close This Topic?" %}')">{% trans "Lock" %}</a>]
                                        {% endif %}
                                        {% ifnotequal topic.is_locked 1 %}
                                        [<a href="/forum/move_topic/{{ topic.id }}/{{ forum.id }}/">{% trans "Move" %}</a>]
                                         {% endifnotequal %}
                                    {% endif %}
                                </p>
                                {% endif %}
                          </td>
                          <td>{{ topic.posts }}</td>
                          <td>{{ topic.author }}</td>
                          <td>{{ topic.lastposter}}, {{topic.modification_date|date:"d.m.Y" }}</td>
            </tr>
	    {% endfor %}
            {% ifnotequal pages 1 %}
            <tr class="small_prefixes">
                <td class="first"></td>
                <td><strong>{% trans "Pages: " %}</strong>
                    {% for i in cnt %}
                        [<a href="/forum/forum/{{ forum.id }}/{{ i }}/">{% ifequal i page %}<b>{{ i }}</b>{% else %}{{ i }}{% endifequal %}</a>] 
                    {% endfor %}
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endifnotequal %}
          </table>
</div>




{% if perms.add_topic %}
    <br />
    <form method="post" action="/forum/add_topic/{{ forum.id }}/">
    
    <div class="postform">
        <div class="posthead">{% trans "Add new topic" %}</div>
        
        <div class="leftpostform">
		<strong>{% trans "Title" %}</strong>
	</div>
	<div class="rightpostform">	
	      {{ form.name }}{% if form.name.errors %}<br />*** {{ form.name.errors|join:", " }}{% endif %}
	</div>
         {% if pr %}  
          <div class="leftpostform">
                  <strong>{% trans "Prefixes" %}</strong>
          </div>
          <div class="rightpostform">	
                 {% for i in pr %}
                    <input type="checkbox" name="prefix[]" value="{{ i.id }}" style="width:auto;" /> {{ i.name }} 
                 {% endfor %}
          </div>
          {% endif %}
	{% if not user.is_authenticated %}
		<div class="leftpostform">
			<strong>{% trans "Nick" %}</strong>
		</div>
		<div class="rightpostform">	
			{{ form.nick }}{% if form.nick.errors %}<br />*** {{ form.nick.errors|join:", " }}{% endif %}
		</div>
	{% endif %}
        <div class="leftpostform">
		<strong>{% trans "Content" %}</strong>
	</div>
	<div class="rightpostform">
		<div id="emoticons"><a name="c"></a>
				<a href="#c" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-happy.png" alt="" /></a>
				<a href="#c" title=":("><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-unhappy.png" alt="" /></a>
				<a href="#c" title=":o"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-surprised.png" alt="" /></a>
				<a href="#c" title=":p"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-tongue.png" alt="" /></a>
				<a href="#c" title=";)"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-wink.png" alt="" /></a>
				<a href="#c" title=":D"><img src="/site_media/layout/markitup/sets/bbcode/images/emoticon-smile.png" alt="" /></a>
			</div>
	      <textarea name="text" id="bbcode" rows="6" cols="60">{{ post_text }}</textarea>
	</div>
        {% if perms.is_staff %}
            <div class="leftpostform"><strong>{% trans "Options" %}</strong>
            </div>
            <div class="rightpostform" id="checkboxes">	
                   {{ form.is_sticky }} {% trans "Sticky" %}{% if form.is_sticky.errors %}<br />*** {{ form.is_sticky.errors|join:", " }}{% endif %}<br />
                   {{ form.is_global }} {% trans "Global" %}{% if form.is_global.errors %}<br />*** {{ form.is_global.errors|join:", " }}{% endif %}
            </div>
        {% endif %}
        <div class="leftpostform">
	</div>
	<div class="rightpostform">	
                <input type="submit" value="{% trans "Add topic" %}" />
	</div>
    </div>
    </form>
{% endif %}
{% if perms.is_spam %}
<div class="box">{% trans "To many anonymous posts. Login to post topics and new messages." %}</div>
{% endif %}
<br />

	<p style="text-align:right;">
	{% if perms.add_topic %}
		{% trans "You <b>can</b> post new Topics" %}<br />
	{% else %}
		{% trans "You <b>can't</b> post new Topics" %}<br />
	{% endif %}
	{% if perms.add_post %}
		{% trans "You <b>can</b> post new Posts" %}<br />
	{% else %}
		{% trans "You <b>can't</b> post new Posts" %}<br />
	{% endif %}
	{% if perms.is_staff %}
		{% trans "You <b>are</b> a Moderator" %}<br />
	{% else %}
		{% trans "You <b>aren't</b> a moderator" %}<br />
	{% endif %}
	</p>
{% endblock %}
