{% load i18n %}
{% extends "wiki/body.html" %}

{% block title %}{% trans "Topics from" %} - {{ forum_name }}{% endblock %}
{% block header %}{% trans "Topics from" %} - {{ forum_name }}{% endblock %}

{% block leftmenu %}
<li><a href="/forum/add_topic/{{ forum }}/">{% trans "Add New Topic" %}</a></li>
<li><a href="/forum/">{% trans "Forum Main Page" %}</a></li>
{% if perms.is_authenticated %}
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
<li><a href="/forum/mytopics/">{% trans "My Topics" %}</a></li>
<li><a href="/forum/myptopics/">{% trans "My Posts" %}</a></li>
{% else %}
<li><a href="/forum/lasttopics/">{% trans "Last Active Topics" %}</a></li>
{% endif %}{% endblock %}

{% block content %}
<h2><a href="/forum/">{% trans "Forum Index" %}</a> >> <a href="/forum/forum/{{ forum }}/">{{ forum_name }}</a></h2>
<div class="content">
          <table>
            <tr>
              <th class="first"></th>
              <th><strong>{% trans "Topic" %}</strong></th>
              <th><strong>{% trans "Author" %}</strong></th>
              <th><strong>{% trans "Posts" %}</strong></th>
              <th><strong>{% trans "Last Post" %}</strong></th>
              {% if perms.is_staff %}<th><strong>{% trans "Admin" %}</strong></th>{% endif %}
            </tr>
           {% for topic in topics %}
            <tr class="{% cycle rowA,rowB %}">
           <td class="first">
{% if topic.is_locked %}
	<img src="/site_media/static/lock.png" alt="*" />
{% else %}
	{% if topic.is_sticky %}
		<img src="/site_media/static/stick.png" alt="*" />
	{% else %}
		{% if topic.is_global %}
			<img src="/site_media/static/glob.png" alt="*" />
		{% else %}
			<img src="/site_media/static/normal.png" alt="*" />
		{% endif%}
	{% endif%}
{% endif %}</td>
              <td><a href="/forum/topic/{{ topic.pagination_max }}/{{ topic.id }}/">{{ topic.topic_name }}</a></td>
              <td><a href="/user/show_profile/{{ topic.topic_author }}/">{{ topic.topic_author }}</a></td>
              <td>{{ topic.topic_posts }}</td>
              <td>{{ topic.topic_lastpost }}</td>
{% if perms.is_staff %}<td>
	<a href="/forum/delete_topic/{{ topic.id }}/{{ forum }}/" onclick="return confirm('{% trans "Delete this Topic and all Posts?" %}')">{% trans "Delete Topic" %}</a> | 
	{% if topic.is_locked %}
		<a href="/forum/open_topic/{{ topic.id }}/{{ forum }}/" onclick="return confirm('{% trans "Open This Topic?" %}')">{% trans "Unlock Topic" %}</a>
	{% else %}
		<a href="/forum/close_topic/{{ topic.id }}/{{ forum }}/" onclick="return confirm('{% trans "Close This Topic?" %}')">{% trans "Lock Topic" %}</a>
	{% endif %}
	{% ifnotequal topic.is_locked 1 %}
	 | <a href="/forum/move_topic/{{ topic.id }}/{{ forum }}/">{% trans "Move Topic" %}</a>
	 {% endifnotequal %}</td>
{% endif %}
            </tr>
	    {% endfor %}
          </table>
</div>
<br /><br />
<div class="box">
{% if perms.add_topic %}
	<p style="text-align:right;"><a href="/forum/add_topic/{{ forum }}/"><b>{% trans "Add New Topic" %}</b></a></p>
{% endif %}
</div><div class="box">
<p style="text-align:right;">
	{% if perms.add_topic %}
		- {% trans "You can post new Topics" %}<br />
	{% else %}
		- {% trans "You can't post new Topics" %}<br />
	{% endif %}
	{% if perms.add_post %}
		- {% trans "You can post new Posts" %}<br />
	{% else %}
		- {% trans "You can't post new Posts" %}<br />
	{% endif %}
	{% if perms.is_staff %}
		- {% trans "You can moderate this Topics" %}<br />
	{% else %}
		-  {% trans "You can't moderate this Topics" %}<br />
	{% endif %}
</p></div>
{% endblock %}
